In [58]:
import math
import warnings
import scipy
from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

sns.set_style('white')
# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [60]:
df = pd.read_csv('https://raw.githubusercontent.com/loginornot/-Thinkful-.github.io/master/Datasets/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.csv')

In [61]:
df

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3,nan
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0,nan
5,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0,nan
6,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0,nan
7,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,nan
8,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN,nan
9,Alfred Village,"4,089",5,0,NaN,0,3,2,46,10,36,0,NaN,nan
10,Allegany Village,"1,781",3,0,NaN,0,0,3,10,0,10,0,0,nan
11,Amherst Town,"118,296",107,1,NaN,7,31,68,"2,118",204,"1,882",32,3,nan
12,Amityville Village,"9,519",9,0,NaN,2,4,3,210,16,188,6,1,nan
13,Amsterdam,"18,182",30,0,NaN,0,12,18,405,99,291,15,0,nan
14,Arcade Village,"2,053",0,0,NaN,0,0,0,39,3,35,1,0,nan
15,Ardsley Village,"4,523",5,0,NaN,0,3,2,33,4,28,1,0,nan
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0,nan
17,Attica Village,"2,522",2,0,NaN,0,0,2,5,0,4,1,0,nan
18,Auburn,"27,270",96,1,NaN,20,22,53,859,132,721,6,NaN,nan
19,Avon Village,"3,333",1,0,NaN,0,1,0,25,3,20,2,NaN,nan
20,Baldwinsville Village,"7,473",5,0,NaN,0,1,4,88,10,77,1,0,nan
21,Ballston Spa Village,"5,418",8,0,NaN,0,3,5,94,16,78,0,1,nan
22,Batavia,"15,374",57,0,NaN,7,13,37,559,103,454,2,NaN,nan
23,Bath Village,"5,733",15,0,NaN,1,3,11,191,32,157,2,2,nan
24,Bedford Town,"17,627",5,0,NaN,0,1,4,156,26,127,3,NaN,nan
25,Bethlehem Town,"34,243",13,0,NaN,0,3,10,442,50,388,4,NaN,nan
26,Binghamton,"46,304",284,3,NaN,19,101,161,"2,349",525,"1,767",57,NaN,nan
27,Black River,"1,410",0,0,NaN,0,0,0,14,2,12,0,0,nan
28,Blooming Grove Town,"12,001",8,0,NaN,1,0,7,99,20,72,7,NaN,nan
29,Bolivar Village,"1,022",1,0,NaN,0,0,1,4,2,2,0,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Utica,"61,686",361,7,NaN,27,102,225,"2,528",449,"1,997",82,NaN,nan
326,Vestal Town,"27,980",16,0,NaN,2,6,8,571,39,523,9,NaN,nan
327,Walden Village,"6,887",18,1,NaN,2,1,14,142,13,124,5,NaN,nan
328,Wallkill Town,"27,940",40,0,NaN,3,16,21,767,91,650,26,1,nan
329,Walton Village,"3,012",6,0,NaN,1,0,5,68,18,50,0,NaN,nan
330,Warsaw Village,"3,453",6,0,NaN,1,0,5,78,5,73,0,0,nan
331,Washingtonville Village,"5,828",2,0,NaN,0,1,1,58,5,51,2,0,nan
332,Waterford Town and Village,"8,392",4,0,NaN,0,0,4,59,6,52,1,0,nan
333,Waterloo Village,"5,175",11,0,NaN,0,3,8,194,23,169,2,NaN,nan
334,Watertown,"28,179",109,0,NaN,12,16,81,"1,165",169,953,43,NaN,nan
335,Watervliet,"10,245",26,1,NaN,3,11,11,242,58,163,21,NaN,nan
336,Watkins Glen Village,"1,862",6,0,NaN,0,0,6,92,10,80,2,NaN,nan
337,Waverly Village,"4,337",5,0,NaN,0,1,4,54,9,41,4,NaN,nan
338,Webster Town and Village,"43,777",21,0,NaN,2,3,16,469,101,361,7,NaN,nan
339,Weedsport Village,"1,797",0,0,NaN,0,0,0,25,5,20,0,0,nan
340,Wellsville Village,"4,574",11,0,NaN,1,0,10,164,32,129,3,1,nan
341,Westhampton Beach Village,"1,732",2,0,NaN,0,0,2,44,4,37,3,0,nan
342,West Seneca Town,"44,821",35,1,NaN,1,9,24,896,166,710,20,0,nan
343,Whitehall Village,"2,604",6,0,NaN,0,0,6,62,12,49,1,NaN,nan
344,White Plains,"57,559",78,1,NaN,3,28,46,"1,232",77,"1,134",21,NaN,nan
345,Whitesboro Village,"3,733",4,0,NaN,0,0,4,36,14,21,1,0,nan
346,Whitestown Town,"9,141",0,0,NaN,0,0,0,77,13,61,3,0,nan
347,Woodbury Town,"10,685",3,0,NaN,0,2,1,541,9,529,3,NaN,nan
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0,nan
349,Woodstock Town,"5,931",2,0,NaN,0,0,2,58,13,45,0,NaN,nan
350,Yonkers,"199,134","1,036",6,NaN,25,390,615,"2,368",470,"1,662",236,10,nan
351,Yorktown Town,"36,643",15,0,NaN,0,2,13,334,45,287,2,NaN,nan
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [62]:
df = df.drop([0,1,2], axis=0)

In [63]:
df

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3,nan
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0,nan
5,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0,nan
6,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0,nan
7,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,nan
8,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN,nan
9,Alfred Village,"4,089",5,0,NaN,0,3,2,46,10,36,0,NaN,nan
10,Allegany Village,"1,781",3,0,NaN,0,0,3,10,0,10,0,0,nan
11,Amherst Town,"118,296",107,1,NaN,7,31,68,"2,118",204,"1,882",32,3,nan
12,Amityville Village,"9,519",9,0,NaN,2,4,3,210,16,188,6,1,nan
13,Amsterdam,"18,182",30,0,NaN,0,12,18,405,99,291,15,0,nan
14,Arcade Village,"2,053",0,0,NaN,0,0,0,39,3,35,1,0,nan
15,Ardsley Village,"4,523",5,0,NaN,0,3,2,33,4,28,1,0,nan
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0,nan
17,Attica Village,"2,522",2,0,NaN,0,0,2,5,0,4,1,0,nan
18,Auburn,"27,270",96,1,NaN,20,22,53,859,132,721,6,NaN,nan
19,Avon Village,"3,333",1,0,NaN,0,1,0,25,3,20,2,NaN,nan
20,Baldwinsville Village,"7,473",5,0,NaN,0,1,4,88,10,77,1,0,nan
21,Ballston Spa Village,"5,418",8,0,NaN,0,3,5,94,16,78,0,1,nan
22,Batavia,"15,374",57,0,NaN,7,13,37,559,103,454,2,NaN,nan
23,Bath Village,"5,733",15,0,NaN,1,3,11,191,32,157,2,2,nan
24,Bedford Town,"17,627",5,0,NaN,0,1,4,156,26,127,3,NaN,nan
25,Bethlehem Town,"34,243",13,0,NaN,0,3,10,442,50,388,4,NaN,nan
26,Binghamton,"46,304",284,3,NaN,19,101,161,"2,349",525,"1,767",57,NaN,nan
27,Black River,"1,410",0,0,NaN,0,0,0,14,2,12,0,0,nan
28,Blooming Grove Town,"12,001",8,0,NaN,1,0,7,99,20,72,7,NaN,nan
29,Bolivar Village,"1,022",1,0,NaN,0,0,1,4,2,2,0,0,nan
30,Bolton Town,"2,325",2,0,NaN,0,0,2,24,4,20,0,0,nan
31,Boonville Village,"2,054",1,0,NaN,0,0,1,20,6,14,0,0,nan
32,Brant Town,"2,065",4,0,NaN,0,1,3,31,9,20,2,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Utica,"61,686",361,7,NaN,27,102,225,"2,528",449,"1,997",82,NaN,nan
326,Vestal Town,"27,980",16,0,NaN,2,6,8,571,39,523,9,NaN,nan
327,Walden Village,"6,887",18,1,NaN,2,1,14,142,13,124,5,NaN,nan
328,Wallkill Town,"27,940",40,0,NaN,3,16,21,767,91,650,26,1,nan
329,Walton Village,"3,012",6,0,NaN,1,0,5,68,18,50,0,NaN,nan
330,Warsaw Village,"3,453",6,0,NaN,1,0,5,78,5,73,0,0,nan
331,Washingtonville Village,"5,828",2,0,NaN,0,1,1,58,5,51,2,0,nan
332,Waterford Town and Village,"8,392",4,0,NaN,0,0,4,59,6,52,1,0,nan
333,Waterloo Village,"5,175",11,0,NaN,0,3,8,194,23,169,2,NaN,nan
334,Watertown,"28,179",109,0,NaN,12,16,81,"1,165",169,953,43,NaN,nan
335,Watervliet,"10,245",26,1,NaN,3,11,11,242,58,163,21,NaN,nan
336,Watkins Glen Village,"1,862",6,0,NaN,0,0,6,92,10,80,2,NaN,nan
337,Waverly Village,"4,337",5,0,NaN,0,1,4,54,9,41,4,NaN,nan
338,Webster Town and Village,"43,777",21,0,NaN,2,3,16,469,101,361,7,NaN,nan
339,Weedsport Village,"1,797",0,0,NaN,0,0,0,25,5,20,0,0,nan
340,Wellsville Village,"4,574",11,0,NaN,1,0,10,164,32,129,3,1,nan
341,Westhampton Beach Village,"1,732",2,0,NaN,0,0,2,44,4,37,3,0,nan
342,West Seneca Town,"44,821",35,1,NaN,1,9,24,896,166,710,20,0,nan
343,Whitehall Village,"2,604",6,0,NaN,0,0,6,62,12,49,1,NaN,nan
344,White Plains,"57,559",78,1,NaN,3,28,46,"1,232",77,"1,134",21,NaN,nan
345,Whitesboro Village,"3,733",4,0,NaN,0,0,4,36,14,21,1,0,nan
346,Whitestown Town,"9,141",0,0,NaN,0,0,0,77,13,61,3,0,nan
347,Woodbury Town,"10,685",3,0,NaN,0,2,1,541,9,529,3,NaN,nan
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0,nan
349,Woodstock Town,"5,931",2,0,NaN,0,0,2,58,13,45,0,NaN,nan
350,Yonkers,"199,134","1,036",6,NaN,25,390,615,"2,368",470,"1,662",236,10,nan
351,Yorktown Town,"36,643",15,0,NaN,0,2,13,334,45,287,2,NaN,nan
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [64]:
df.columns = ['City','Population','ViolentCrime','Murder',
              'Rape1','Rape2','Robbery',
              'AggravatedAssault','PropertyCrime','Burglary','LarcenyTheft',
              'MotorVehicleTheft','Arson3','extra']

In [65]:
df = df.drop(['extra'],axis = 1)

In [66]:
df = df.reset_index()

In [67]:
df = df.drop(['index'],axis = 1)
df = df.drop([0], axis = 0)

In [68]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3
1,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0
2,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0
3,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0
4,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN
5,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN
6,Alfred Village,"4,089",5,0,NaN,0,3,2,46,10,36,0,NaN
7,Allegany Village,"1,781",3,0,NaN,0,0,3,10,0,10,0,0
8,Amherst Town,"118,296",107,1,NaN,7,31,68,"2,118",204,"1,882",32,3
9,Amityville Village,"9,519",9,0,NaN,2,4,3,210,16,188,6,1
10,Amsterdam,"18,182",30,0,NaN,0,12,18,405,99,291,15,0
11,Arcade Village,"2,053",0,0,NaN,0,0,0,39,3,35,1,0
12,Ardsley Village,"4,523",5,0,NaN,0,3,2,33,4,28,1,0
13,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
14,Attica Village,"2,522",2,0,NaN,0,0,2,5,0,4,1,0
15,Auburn,"27,270",96,1,NaN,20,22,53,859,132,721,6,NaN
16,Avon Village,"3,333",1,0,NaN,0,1,0,25,3,20,2,NaN
17,Baldwinsville Village,"7,473",5,0,NaN,0,1,4,88,10,77,1,0
18,Ballston Spa Village,"5,418",8,0,NaN,0,3,5,94,16,78,0,1
19,Batavia,"15,374",57,0,NaN,7,13,37,559,103,454,2,NaN
20,Bath Village,"5,733",15,0,NaN,1,3,11,191,32,157,2,2
21,Bedford Town,"17,627",5,0,NaN,0,1,4,156,26,127,3,NaN
22,Bethlehem Town,"34,243",13,0,NaN,0,3,10,442,50,388,4,NaN
23,Binghamton,"46,304",284,3,NaN,19,101,161,"2,349",525,"1,767",57,NaN
24,Black River,"1,410",0,0,NaN,0,0,0,14,2,12,0,0
25,Blooming Grove Town,"12,001",8,0,NaN,1,0,7,99,20,72,7,NaN
26,Bolivar Village,"1,022",1,0,NaN,0,0,1,4,2,2,0,0
27,Bolton Town,"2,325",2,0,NaN,0,0,2,24,4,20,0,0
28,Boonville Village,"2,054",1,0,NaN,0,0,1,20,6,14,0,0
29,Brant Town,"2,065",4,0,NaN,0,1,3,31,9,20,2,0
30,Brewster,"2,358",0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Utica,"61,686",361,7,NaN,27,102,225,"2,528",449,"1,997",82,NaN
323,Vestal Town,"27,980",16,0,NaN,2,6,8,571,39,523,9,NaN
324,Walden Village,"6,887",18,1,NaN,2,1,14,142,13,124,5,NaN
325,Wallkill Town,"27,940",40,0,NaN,3,16,21,767,91,650,26,1
326,Walton Village,"3,012",6,0,NaN,1,0,5,68,18,50,0,NaN
327,Warsaw Village,"3,453",6,0,NaN,1,0,5,78,5,73,0,0
328,Washingtonville Village,"5,828",2,0,NaN,0,1,1,58,5,51,2,0
329,Waterford Town and Village,"8,392",4,0,NaN,0,0,4,59,6,52,1,0
330,Waterloo Village,"5,175",11,0,NaN,0,3,8,194,23,169,2,NaN
331,Watertown,"28,179",109,0,NaN,12,16,81,"1,165",169,953,43,NaN
332,Watervliet,"10,245",26,1,NaN,3,11,11,242,58,163,21,NaN
333,Watkins Glen Village,"1,862",6,0,NaN,0,0,6,92,10,80,2,NaN
334,Waverly Village,"4,337",5,0,NaN,0,1,4,54,9,41,4,NaN
335,Webster Town and Village,"43,777",21,0,NaN,2,3,16,469,101,361,7,NaN
336,Weedsport Village,"1,797",0,0,NaN,0,0,0,25,5,20,0,0
337,Wellsville Village,"4,574",11,0,NaN,1,0,10,164,32,129,3,1
338,Westhampton Beach Village,"1,732",2,0,NaN,0,0,2,44,4,37,3,0
339,West Seneca Town,"44,821",35,1,NaN,1,9,24,896,166,710,20,0
340,Whitehall Village,"2,604",6,0,NaN,0,0,6,62,12,49,1,NaN
341,White Plains,"57,559",78,1,NaN,3,28,46,"1,232",77,"1,134",21,NaN
342,Whitesboro Village,"3,733",4,0,NaN,0,0,4,36,14,21,1,0
343,Whitestown Town,"9,141",0,0,NaN,0,0,0,77,13,61,3,0
344,Woodbury Town,"10,685",3,0,NaN,0,2,1,541,9,529,3,NaN
345,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
346,Woodstock Town,"5,931",2,0,NaN,0,0,2,58,13,45,0,NaN
347,Yonkers,"199,134","1,036",6,NaN,25,390,615,"2,368",470,"1,662",236,10
348,Yorktown Town,"36,643",15,0,NaN,0,2,13,334,45,287,2,NaN
349,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
type(df.loc[1][2])

str

In [70]:
for column in df:
    df[column] = df[column].str.replace(',', '')

In [71]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3
1,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
5,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
6,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
7,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
8,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
9,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
10,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
11,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
12,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
13,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
14,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
15,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
16,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
17,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
18,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
19,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
20,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
21,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
22,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
23,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
24,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
25,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
26,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
27,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
28,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
29,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
30,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
323,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
324,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
325,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
326,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
327,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
328,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
329,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
330,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
331,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
332,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
333,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
334,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
335,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
336,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
337,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
338,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
339,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
340,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
341,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
342,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
343,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
344,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
345,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
346,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
347,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
348,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
349,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df.columns

Index(['City', 'Population', 'ViolentCrime', 'Murder', 'Rape1', 'Rape2',
       'Robbery', 'AggravatedAssault', 'PropertyCrime', 'Burglary',
       'LarcenyTheft', 'MotorVehicleTheft', 'Arson3'],
      dtype='object')

In [73]:
names = ['Population','ViolentCrime','Murder','Rape1','Rape2','Robbery','AggravatedAssault',
         'PropertyCrime','Burglary','LarcenyTheft','MotorVehicleTheft','Arson3']

In [74]:
for name in names:
    df[name] = pd.to_numeric(df[name])

In [75]:
type(df.loc[1][1])

numpy.float64

In [76]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3
1,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000
2,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000
3,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000
4,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan
5,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan
6,Alfred Village,4089.000,5.000,0.000,nan,0.000,3.000,2.000,46.000,10.000,36.000,0.000,nan
7,Allegany Village,1781.000,3.000,0.000,nan,0.000,0.000,3.000,10.000,0.000,10.000,0.000,0.000
8,Amherst Town,118296.000,107.000,1.000,nan,7.000,31.000,68.000,2118.000,204.000,1882.000,32.000,3.000
9,Amityville Village,9519.000,9.000,0.000,nan,2.000,4.000,3.000,210.000,16.000,188.000,6.000,1.000
10,Amsterdam,18182.000,30.000,0.000,nan,0.000,12.000,18.000,405.000,99.000,291.000,15.000,0.000
11,Arcade Village,2053.000,0.000,0.000,nan,0.000,0.000,0.000,39.000,3.000,35.000,1.000,0.000
12,Ardsley Village,4523.000,5.000,0.000,nan,0.000,3.000,2.000,33.000,4.000,28.000,1.000,0.000
13,Asharoken Village,658.000,0.000,0.000,nan,0.000,0.000,0.000,2.000,0.000,2.000,0.000,0.000
14,Attica Village,2522.000,2.000,0.000,nan,0.000,0.000,2.000,5.000,0.000,4.000,1.000,0.000
15,Auburn,27270.000,96.000,1.000,nan,20.000,22.000,53.000,859.000,132.000,721.000,6.000,nan
16,Avon Village,3333.000,1.000,0.000,nan,0.000,1.000,0.000,25.000,3.000,20.000,2.000,nan
17,Baldwinsville Village,7473.000,5.000,0.000,nan,0.000,1.000,4.000,88.000,10.000,77.000,1.000,0.000
18,Ballston Spa Village,5418.000,8.000,0.000,nan,0.000,3.000,5.000,94.000,16.000,78.000,0.000,1.000
19,Batavia,15374.000,57.000,0.000,nan,7.000,13.000,37.000,559.000,103.000,454.000,2.000,nan
20,Bath Village,5733.000,15.000,0.000,nan,1.000,3.000,11.000,191.000,32.000,157.000,2.000,2.000
21,Bedford Town,17627.000,5.000,0.000,nan,0.000,1.000,4.000,156.000,26.000,127.000,3.000,nan
22,Bethlehem Town,34243.000,13.000,0.000,nan,0.000,3.000,10.000,442.000,50.000,388.000,4.000,nan
23,Binghamton,46304.000,284.000,3.000,nan,19.000,101.000,161.000,2349.000,525.000,1767.000,57.000,nan
24,Black River,1410.000,0.000,0.000,nan,0.000,0.000,0.000,14.000,2.000,12.000,0.000,0.000
25,Blooming Grove Town,12001.000,8.000,0.000,nan,1.000,0.000,7.000,99.000,20.000,72.000,7.000,nan
26,Bolivar Village,1022.000,1.000,0.000,nan,0.000,0.000,1.000,4.000,2.000,2.000,0.000,0.000
27,Bolton Town,2325.000,2.000,0.000,nan,0.000,0.000,2.000,24.000,4.000,20.000,0.000,0.000
28,Boonville Village,2054.000,1.000,0.000,nan,0.000,0.000,1.000,20.000,6.000,14.000,0.000,0.000
29,Brant Town,2065.000,4.000,0.000,nan,0.000,1.000,3.000,31.000,9.000,20.000,2.000,0.000
30,Brewster,2358.000,0.000,0.000,nan,0.000,0.000,0.000,13.000,3.000,10.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Utica,61686.000,361.000,7.000,nan,27.000,102.000,225.000,2528.000,449.000,1997.000,82.000,nan
323,Vestal Town,27980.000,16.000,0.000,nan,2.000,6.000,8.000,571.000,39.000,523.000,9.000,nan
324,Walden Village,6887.000,18.000,1.000,nan,2.000,1.000,14.000,142.000,13.000,124.000,5.000,nan
325,Wallkill Town,27940.000,40.000,0.000,nan,3.000,16.000,21.000,767.000,91.000,650.000,26.000,1.000
326,Walton Village,3012.000,6.000,0.000,nan,1.000,0.000,5.000,68.000,18.000,50.000,0.000,nan
327,Warsaw Village,3453.000,6.000,0.000,nan,1.000,0.000,5.000,78.000,5.000,73.000,0.000,0.000
328,Washingtonville Village,5828.000,2.000,0.000,nan,0.000,1.000,1.000,58.000,5.000,51.000,2.000,0.000
329,Waterford Town and Village,8392.000,4.000,0.000,nan,0.000,0.000,4.000,59.000,6.000,52.000,1.000,0.000
330,Waterloo Village,5175.000,11.000,0.000,nan,0.000,3.000,8.000,194.000,23.000,169.000,2.000,nan
331,Watertown,28179.000,109.000,0.000,nan,12.000,16.000,81.000,1165.000,169.000,953.000,43.000,nan
332,Watervliet,10245.000,26.000,1.000,nan,3.000,11.000,11.000,242.000,58.000,163.000,21.000,nan
333,Watkins Glen Village,1862.000,6.000,0.000,nan,0.000,0.000,6.000,92.000,10.000,80.000,2.000,nan
334,Waverly Village,4337.000,5.000,0.000,nan,0.000,1.000,4.000,54.000,9.000,41.000,4.000,nan
335,Webster Town and Village,43777.000,21.000,0.000,nan,2.000,3.000,16.000,469.000,101.000,361.000,7.000,nan
336,Weedsport Village,1797.000,0.000,0.000,nan,0.000,0.000,0.000,25.000,5.000,20.000,0.000,0.000
337,Wellsville Village,4574.000,11.000,0.000,nan,1.000,0.000,10.000,164.000,32.000,129.000,3.000,1.000
338,Westhampton Beach Village,1732.000,2.000,0.000,nan,0.000,0.000,2.000,44.000,4.000,37.000,3.000,0.000
339,West Seneca Town,44821.000,35.000,1.000,nan,1.000,9.000,24.000,896.000,166.000,710.000,20.000,0.000
340,Whitehall Village,2604.000,6.000,0.000,nan,0.000,0.000,6.000,62.000,12.000,49.000,1.000,nan
341,White Plains,57559.000,78.000,1.000,nan,3.000,28.000,46.000,1232.000,77.000,1134.000,21.000,nan
342,Whitesboro Village,3733.000,4.000,0.000,nan,0.000,0.000,4.000,36.000,14.000,21.000,1.000,0.000
343,Whitestown Town,9141.000,0.000,0.000,nan,0.000,0.000,0.000,77.000,13.000,61.000,3.000,0.000
344,Woodbury Town,10685.000,3.000,0.000,nan,0.000,2.000,1.000,541.000,9.000,529.000,3.000,nan
345,Woodridge Village,829.000,7.000,0.000,nan,0.000,0.000,7.000,17.000,8.000,9.000,0.000,0.000
346,Woodstock Town,5931.000,2.000,0.000,nan,0.000,0.000,2.000,58.000,13.000,45.000,0.000,nan
347,Yonkers,199134.000,1036.000,6.000,nan,25.000,390.000,615.000,2368.000,470.000,1662.000,236.000,10.000
348,Yorktown Town,36643.000,15.000,0.000,nan,0.000,2.000,13.000,334.000,45.000,287.000,2.000,nan
349,1 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
350,2 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
351,3 The FBI does not publish arson data unless i...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [77]:
df['Population2'] = df['Population'] ** 2

In [78]:
df.head()

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2
1,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000,3463321.000
2,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000,6640929.000
3,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000,8099716.000
4,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan,9595377936.000
5,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan,40806544.000

In [79]:
df = df.reset_index()

In [80]:
df = df.drop(['index'],axis = 1)

In [81]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2
0,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000,3463321.000
1,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000,6640929.000
2,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000,8099716.000
3,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan,9595377936.000
4,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan,40806544.000
5,Alfred Village,4089.000,5.000,0.000,nan,0.000,3.000,2.000,46.000,10.000,36.000,0.000,nan,16719921.000
6,Allegany Village,1781.000,3.000,0.000,nan,0.000,0.000,3.000,10.000,0.000,10.000,0.000,0.000,3171961.000
7,Amherst Town,118296.000,107.000,1.000,nan,7.000,31.000,68.000,2118.000,204.000,1882.000,32.000,3.000,13993943616.000
8,Amityville Village,9519.000,9.000,0.000,nan,2.000,4.000,3.000,210.000,16.000,188.000,6.000,1.000,90611361.000
9,Amsterdam,18182.000,30.000,0.000,nan,0.000,12.000,18.000,405.000,99.000,291.000,15.000,0.000,330585124.000
10,Arcade Village,2053.000,0.000,0.000,nan,0.000,0.000,0.000,39.000,3.000,35.000,1.000,0.000,4214809.000
11,Ardsley Village,4523.000,5.000,0.000,nan,0.000,3.000,2.000,33.000,4.000,28.000,1.000,0.000,20457529.000
12,Asharoken Village,658.000,0.000,0.000,nan,0.000,0.000,0.000,2.000,0.000,2.000,0.000,0.000,432964.000
13,Attica Village,2522.000,2.000,0.000,nan,0.000,0.000,2.000,5.000,0.000,4.000,1.000,0.000,6360484.000
14,Auburn,27270.000,96.000,1.000,nan,20.000,22.000,53.000,859.000,132.000,721.000,6.000,nan,743652900.000
15,Avon Village,3333.000,1.000,0.000,nan,0.000,1.000,0.000,25.000,3.000,20.000,2.000,nan,11108889.000
16,Baldwinsville Village,7473.000,5.000,0.000,nan,0.000,1.000,4.000,88.000,10.000,77.000,1.000,0.000,55845729.000
17,Ballston Spa Village,5418.000,8.000,0.000,nan,0.000,3.000,5.000,94.000,16.000,78.000,0.000,1.000,29354724.000
18,Batavia,15374.000,57.000,0.000,nan,7.000,13.000,37.000,559.000,103.000,454.000,2.000,nan,236359876.000
19,Bath Village,5733.000,15.000,0.000,nan,1.000,3.000,11.000,191.000,32.000,157.000,2.000,2.000,32867289.000
20,Bedford Town,17627.000,5.000,0.000,nan,0.000,1.000,4.000,156.000,26.000,127.000,3.000,nan,310711129.000
21,Bethlehem Town,34243.000,13.000,0.000,nan,0.000,3.000,10.000,442.000,50.000,388.000,4.000,nan,1172583049.000
22,Binghamton,46304.000,284.000,3.000,nan,19.000,101.000,161.000,2349.000,525.000,1767.000,57.000,nan,2144060416.000
23,Black River,1410.000,0.000,0.000,nan,0.000,0.000,0.000,14.000,2.000,12.000,0.000,0.000,1988100.000
24,Blooming Grove Town,12001.000,8.000,0.000,nan,1.000,0.000,7.000,99.000,20.000,72.000,7.000,nan,144024001.000
25,Bolivar Village,1022.000,1.000,0.000,nan,0.000,0.000,1.000,4.000,2.000,2.000,0.000,0.000,1044484.000
26,Bolton Town,2325.000,2.000,0.000,nan,0.000,0.000,2.000,24.000,4.000,20.000,0.000,0.000,5405625.000
27,Boonville Village,2054.000,1.000,0.000,nan,0.000,0.000,1.000,20.000,6.000,14.000,0.000,0.000,4218916.000
28,Brant Town,2065.000,4.000,0.000,nan,0.000,1.000,3.000,31.000,9.000,20.000,2.000,0.000,4264225.000
29,Brewster,2358.000,0.000,0.000,nan,0.000,0.000,0.000,13.000,3.000,10.000,0.000,0.000,5560164.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,61686.000,361.000,7.000,nan,27.000,102.000,225.000,2528.000,449.000,1997.000,82.000,nan,3805162596.000
322,Vestal Town,27980.000,16.000,0.000,nan,2.000,6.000,8.000,571.000,39.000,523.000,9.000,nan,782880400.000
323,Walden Village,6887.000,18.000,1.000,nan,2.000,1.000,14.000,142.000,13.000,124.000,5.000,nan,47430769.000
324,Wallkill Town,27940.000,40.000,0.000,nan,3.000,16.000,21.000,767.000,91.000,650.000,26.000,1.000,780643600.000
325,Walton Village,3012.000,6.000,0.000,nan,1.000,0.000,5.000,68.000,18.000,50.000,0.000,nan,9072144.000
326,Warsaw Village,3453.000,6.000,0.000,nan,1.000,0.000,5.000,78.000,5.000,73.000,0.000,0.000,11923209.000
327,Washingtonville Village,5828.000,2.000,0.000,nan,0.000,1.000,1.000,58.000,5.000,51.000,2.000,0.000,33965584.000
328,Waterford Town and Village,8392.000,4.000,0.000,nan,0.000,0.000,4.000,59.000,6.000,52.000,1.000,0.000,70425664.000
329,Waterloo Village,5175.000,11.000,0.000,nan,0.000,3.000,8.000,194.000,23.000,169.000,2.000,nan,26780625.000
330,Watertown,28179.000,109.000,0.000,nan,12.000,16.000,81.000,1165.000,169.000,953.000,43.000,nan,794056041.000
331,Watervliet,10245.000,26.000,1.000,nan,3.000,11.000,11.000,242.000,58.000,163.000,21.000,nan,104960025.000
332,Watkins Glen Village,1862.000,6.000,0.000,nan,0.000,0.000,6.000,92.000,10.000,80.000,2.000,nan,3467044.000
333,Waverly Village,4337.000,5.000,0.000,nan,0.000,1.000,4.000,54.000,9.000,41.000,4.000,nan,18809569.000
334,Webster Town and Village,43777.000,21.000,0.000,nan,2.000,3.000,16.000,469.000,101.000,361.000,7.000,nan,1916425729.000
335,Weedsport Village,1797.000,0.000,0.000,nan,0.000,0.000,0.000,25.000,5.000,20.000,0.000,0.000,3229209.000
336,Wellsville Village,4574.000,11.000,0.000,nan,1.000,0.000,10.000,164.000,32.000,129.000,3.000,1.000,20921476.000
337,Westhampton Beach Village,1732.000,2.000,0.000,nan,0.000,0.000,2.000,44.000,4.000,37.000,3.000,0.000,2999824.000
338,West Seneca Town,44821.000,35.000,1.000,nan,1.000,9.000,24.000,896.000,166.000,710.000,20.000,0.000,2008922041.000
339,Whitehall Village,2604.000,6.000,0.000,nan,0.000,0.000,6.000,62.000,12.000,49.000,1.000,nan,6780816.000
340,White Plains,57559.000,78.000,1.000,nan,3.000,28.000,46.000,1232.000,77.000,1134.000,21.000,nan,3313038481.000
341,Whitesboro Village,3733.000,4.000,0.000,nan,0.000,0.000,4.000,36.000,14.000,21.000,1.000,0.000,13935289.000
342,Whitestown Town,9141.000,0.000,0.000,nan,0.000,0.000,0.000,77.000,13.000,61.000,3.000,0.000,83557881.000
343,Woodbury Town,10685.000,3.000,0.000,nan,0.000,2.000,1.000,541.000,9.000,529.000,3.000,nan,114169225.000
344,Woodridge Village,829.000,7.000,0.000,nan,0.000,0.000,7.000,17.000,8.000,9.000,0.000,0.000,687241.000
345,Woodstock Town,5931.000,2.000,0.000,nan,0.000,0.000,2.000,58.000,13.000,45.000,0.000,nan,35176761.000
346,Yonkers,199134.000,1036.000,6.000,nan,25.000,390.000,615.000,2368.000,470.000,1662.000,236.000,10.000,39654349956.000
347,Yorktown Town,36643.000,15.000,0.000,nan,0.000,2.000,13.000,334.000,45.000,287.000,2.000,nan,1342709449.000
348,1 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
349,2 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
350,3 The FBI does not publish arson data unless i...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [82]:
df = df.fillna(0)

In [83]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2
0,Adams Village,1861.000,0.000,0.000,0.000,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000,3463321.000
1,Addison Town and Village,2577.000,3.000,0.000,0.000,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000,6640929.000
2,Akron Village,2846.000,3.000,0.000,0.000,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000,8099716.000
3,Albany,97956.000,791.000,8.000,0.000,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,0.000,9595377936.000
4,Albion Village,6388.000,23.000,0.000,0.000,3.000,4.000,16.000,223.000,53.000,165.000,5.000,0.000,40806544.000
5,Alfred Village,4089.000,5.000,0.000,0.000,0.000,3.000,2.000,46.000,10.000,36.000,0.000,0.000,16719921.000
6,Allegany Village,1781.000,3.000,0.000,0.000,0.000,0.000,3.000,10.000,0.000,10.000,0.000,0.000,3171961.000
7,Amherst Town,118296.000,107.000,1.000,0.000,7.000,31.000,68.000,2118.000,204.000,1882.000,32.000,3.000,13993943616.000
8,Amityville Village,9519.000,9.000,0.000,0.000,2.000,4.000,3.000,210.000,16.000,188.000,6.000,1.000,90611361.000
9,Amsterdam,18182.000,30.000,0.000,0.000,0.000,12.000,18.000,405.000,99.000,291.000,15.000,0.000,330585124.000
10,Arcade Village,2053.000,0.000,0.000,0.000,0.000,0.000,0.000,39.000,3.000,35.000,1.000,0.000,4214809.000
11,Ardsley Village,4523.000,5.000,0.000,0.000,0.000,3.000,2.000,33.000,4.000,28.000,1.000,0.000,20457529.000
12,Asharoken Village,658.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,2.000,0.000,0.000,432964.000
13,Attica Village,2522.000,2.000,0.000,0.000,0.000,0.000,2.000,5.000,0.000,4.000,1.000,0.000,6360484.000
14,Auburn,27270.000,96.000,1.000,0.000,20.000,22.000,53.000,859.000,132.000,721.000,6.000,0.000,743652900.000
15,Avon Village,3333.000,1.000,0.000,0.000,0.000,1.000,0.000,25.000,3.000,20.000,2.000,0.000,11108889.000
16,Baldwinsville Village,7473.000,5.000,0.000,0.000,0.000,1.000,4.000,88.000,10.000,77.000,1.000,0.000,55845729.000
17,Ballston Spa Village,5418.000,8.000,0.000,0.000,0.000,3.000,5.000,94.000,16.000,78.000,0.000,1.000,29354724.000
18,Batavia,15374.000,57.000,0.000,0.000,7.000,13.000,37.000,559.000,103.000,454.000,2.000,0.000,236359876.000
19,Bath Village,5733.000,15.000,0.000,0.000,1.000,3.000,11.000,191.000,32.000,157.000,2.000,2.000,32867289.000
20,Bedford Town,17627.000,5.000,0.000,0.000,0.000,1.000,4.000,156.000,26.000,127.000,3.000,0.000,310711129.000
21,Bethlehem Town,34243.000,13.000,0.000,0.000,0.000,3.000,10.000,442.000,50.000,388.000,4.000,0.000,1172583049.000
22,Binghamton,46304.000,284.000,3.000,0.000,19.000,101.000,161.000,2349.000,525.000,1767.000,57.000,0.000,2144060416.000
23,Black River,1410.000,0.000,0.000,0.000,0.000,0.000,0.000,14.000,2.000,12.000,0.000,0.000,1988100.000
24,Blooming Grove Town,12001.000,8.000,0.000,0.000,1.000,0.000,7.000,99.000,20.000,72.000,7.000,0.000,144024001.000
25,Bolivar Village,1022.000,1.000,0.000,0.000,0.000,0.000,1.000,4.000,2.000,2.000,0.000,0.000,1044484.000
26,Bolton Town,2325.000,2.000,0.000,0.000,0.000,0.000,2.000,24.000,4.000,20.000,0.000,0.000,5405625.000
27,Boonville Village,2054.000,1.000,0.000,0.000,0.000,0.000,1.000,20.000,6.000,14.000,0.000,0.000,4218916.000
28,Brant Town,2065.000,4.000,0.000,0.000,0.000,1.000,3.000,31.000,9.000,20.000,2.000,0.000,4264225.000
29,Brewster,2358.000,0.000,0.000,0.000,0.000,0.000,0.000,13.000,3.000,10.000,0.000,0.000,5560164.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,61686.000,361.000,7.000,0.000,27.000,102.000,225.000,2528.000,449.000,1997.000,82.000,0.000,3805162596.000
322,Vestal Town,27980.000,16.000,0.000,0.000,2.000,6.000,8.000,571.000,39.000,523.000,9.000,0.000,782880400.000
323,Walden Village,6887.000,18.000,1.000,0.000,2.000,1.000,14.000,142.000,13.000,124.000,5.000,0.000,47430769.000
324,Wallkill Town,27940.000,40.000,0.000,0.000,3.000,16.000,21.000,767.000,91.000,650.000,26.000,1.000,780643600.000
325,Walton Village,3012.000,6.000,0.000,0.000,1.000,0.000,5.000,68.000,18.000,50.000,0.000,0.000,9072144.000
326,Warsaw Village,3453.000,6.000,0.000,0.000,1.000,0.000,5.000,78.000,5.000,73.000,0.000,0.000,11923209.000
327,Washingtonville Village,5828.000,2.000,0.000,0.000,0.000,1.000,1.000,58.000,5.000,51.000,2.000,0.000,33965584.000
328,Waterford Town and Village,8392.000,4.000,0.000,0.000,0.000,0.000,4.000,59.000,6.000,52.000,1.000,0.000,70425664.000
329,Waterloo Village,5175.000,11.000,0.000,0.000,0.000,3.000,8.000,194.000,23.000,169.000,2.000,0.000,26780625.000
330,Watertown,28179.000,109.000,0.000,0.000,12.000,16.000,81.000,1165.000,169.000,953.000,43.000,0.000,794056041.000
331,Watervliet,10245.000,26.000,1.000,0.000,3.000,11.000,11.000,242.000,58.000,163.000,21.000,0.000,104960025.000
332,Watkins Glen Village,1862.000,6.000,0.000,0.000,0.000,0.000,6.000,92.000,10.000,80.000,2.000,0.000,3467044.000
333,Waverly Village,4337.000,5.000,0.000,0.000,0.000,1.000,4.000,54.000,9.000,41.000,4.000,0.000,18809569.000
334,Webster Town and Village,43777.000,21.000,0.000,0.000,2.000,3.000,16.000,469.000,101.000,361.000,7.000,0.000,1916425729.000
335,Weedsport Village,1797.000,0.000,0.000,0.000,0.000,0.000,0.000,25.000,5.000,20.000,0.000,0.000,3229209.000
336,Wellsville Village,4574.000,11.000,0.000,0.000,1.000,0.000,10.000,164.000,32.000,129.000,3.000,1.000,20921476.000
337,Westhampton Beach Village,1732.000,2.000,0.000,0.000,0.000,0.000,2.000,44.000,4.000,37.000,3.000,0.000,2999824.000
338,West Seneca Town,44821.000,35.000,1.000,0.000,1.000,9.000,24.000,896.000,166.000,710.000,20.000,0.000,2008922041.000
339,Whitehall Village,2604.000,6.000,0.000,0.000,0.000,0.000,6.000,62.000,12.000,49.000,1.000,0.000,6780816.000
340,White Plains,57559.000,78.000,1.000,0.000,3.000,28.000,46.000,1232.000,77.000,1134.000,21.000,0.000,3313038481.000
341,Whitesboro Village,3733.000,4.000,0.000,0.000,0.000,0.000,4.000,36.000,14.000,21.000,1.000,0.000,13935289.000
342,Whitestown Town,9141.000,0.000,0.000,0.000,0.000,0.000,0.000,77.000,13.000,61.000,3.000,0.000,83557881.000
343,Woodbury Town,10685.000,3.000,0.000,0.000,0.000,2.000,1.000,541.000,9.000,529.000,3.000,0.000,114169225.000
344,Woodridge Village,829.000,7.000,0.000,0.000,0.000,0.000,7.000,17.000,8.000,9.000,0.000,0.000,687241.000
345,Woodstock Town,5931.000,2.000,0.000,0.000,0.000,0.000,2.000,58.000,13.000,45.000,0.000,0.000,35176761.000
346,Yonkers,199134.000,1036.000,6.000,0.000,25.000,390.000,615.000,2368.000,470.000,1662.000,236.000,10.000,39654349956.000
347,Yorktown Town,36643.000,15.000,0.000,0.000,0.000,2.000,13.000,334.000,45.000,287.000,2.000,0.000,1342709449.000
348,1 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
349,2 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
350,3 The FBI does not publish arson data unless i...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [84]:
df.dtypes

City                  object
Population           float64
ViolentCrime         float64
Murder               float64
Rape1                float64
Rape2                float64
Robbery              float64
AggravatedAssault    float64
PropertyCrime        float64
Burglary             float64
LarcenyTheft         float64
MotorVehicleTheft    float64
Arson3               float64
Population2          float64
dtype: object

In [27]:
df['Rape1'].mean()

0.0

In [28]:
df.drop(['Rape1'],axis = 1,inplace = True)

In [29]:
df['TotalCrime'] = df['ViolentCrime'] + df['PropertyCrime']

In [30]:
df['TotalCrime'].mean()

2143.497844827586

In [31]:
df['LowCrime'] = np.where(df['TotalCrime'] < 1500, 1,0)

In [32]:
df['PopCrimeRatio'] = df['Population'] / df['TotalCrime']

In [33]:
df

,City,Population,ViolentCrime,Murder,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2,TotalCrime,LowCrime,PopCrimeRatio
0,Adelanto,31165.000,198.000,2.000,15.000,52.000,129.000,886.000,381.000,372.000,133.000,17.000,971257225.000,1084.000,1,28.750
1,Agoura Hills,20762.000,19.000,0.000,2.000,10.000,7.000,306.000,109.000,185.000,12.000,7.000,431060644.000,325.000,1,63.883
2,Alameda,76206.000,158.000,0.000,10.000,85.000,63.000,1902.000,287.000,1285.000,330.000,17.000,5807354436.000,2060.000,0,36.993
3,Albany,19104.000,29.000,0.000,1.000,24.000,4.000,557.000,94.000,388.000,75.000,7.000,364962816.000,586.000,1,32.601
4,Alhambra,84710.000,163.000,1.000,9.000,81.000,72.000,1774.000,344.000,1196.000,234.000,7.000,7175784100.000,1937.000,0,43.733
5,Aliso Viejo,50005.000,25.000,0.000,2.000,4.000,19.000,315.000,71.000,224.000,20.000,3.000,2500500025.000,340.000,1,147.074
6,Alturas,2681.000,28.000,1.000,4.000,2.000,21.000,71.000,23.000,46.000,2.000,0.000,7187761.000,99.000,1,27.081
7,American Canyon,20068.000,54.000,0.000,4.000,31.000,19.000,510.000,91.000,387.000,32.000,2.000,402724624.000,564.000,1,35.582
8,Anaheim,345320.000,1130.000,11.000,82.000,437.000,600.000,9611.000,1412.000,6518.000,1681.000,35.000,119245902400.000,10741.000,0,32.150
9,Anderson,10098.000,63.000,0.000,8.000,9.000,46.000,721.000,147.000,454.000,120.000,5.000,101969604.000,784.000,1,12.880
10,Antioch,106447.000,946.000,12.000,25.000,352.000,557.000,4440.000,1351.000,1872.000,1217.000,57.000,11330963809.000,5386.000,0,19.764
11,Apple Valley,71159.000,185.000,3.000,12.000,58.000,112.000,1594.000,596.000,775.000,223.000,22.000,5063603281.000,1779.000,0,39.999
12,Arcadia,57855.000,77.000,0.000,1.000,37.000,39.000,1518.000,376.000,1080.000,62.000,3.000,3347201025.000,1595.000,0,36.273
13,Arcata,17805.000,67.000,3.000,7.000,15.000,42.000,841.000,147.000,634.000,60.000,14.000,317018025.000,908.000,1,19.609
14,Arroyo Grande,17634.000,31.000,0.000,5.000,4.000,22.000,455.000,137.000,288.000,30.000,0.000,310957956.000,486.000,1,36.284
15,Artesia,16734.000,63.000,2.000,0.000,28.000,33.000,323.000,91.000,177.000,55.000,1.000,280026756.000,386.000,1,43.352
16,Arvin,20390.000,153.000,2.000,1.000,16.000,134.000,744.000,323.000,308.000,113.000,15.000,415752100.000,897.000,1,22.731
17,Atascadero,28938.000,97.000,1.000,12.000,24.000,60.000,544.000,119.000,400.000,25.000,7.000,837407844.000,641.000,1,45.145
18,Atherton,7278.000,10.000,0.000,1.000,1.000,8.000,115.000,34.000,78.000,3.000,1.000,52969284.000,125.000,1,58.224
19,Atwater,28906.000,182.000,1.000,7.000,22.000,152.000,1323.000,361.000,804.000,158.000,5.000,835556836.000,1505.000,0,19.207
20,Auburn,13779.000,49.000,0.000,2.000,13.000,34.000,302.000,86.000,190.000,26.000,7.000,189860841.000,351.000,1,39.256
21,Avalon,3777.000,4.000,0.000,0.000,2.000,2.000,88.000,13.000,57.000,18.000,1.000,14265729.000,92.000,1,41.054
22,Avenal,14712.000,62.000,0.000,4.000,6.000,52.000,147.000,63.000,67.000,17.000,2.000,216442944.000,209.000,1,70.392
23,Azusa,47754.000,246.000,2.000,4.000,36.000,204.000,1098.000,256.000,671.000,171.000,6.000,2280444516.000,1344.000,1,35.531
24,Bakersfield,361859.000,1857.000,24.000,43.000,708.000,1082.000,16814.000,4605.000,9272.000,2937.000,193.000,130941935881.000,18671.000,0,19.381
25,Baldwin Park,76745.000,220.000,5.000,6.000,74.000,135.000,1370.000,280.000,727.000,363.000,8.000,5889795025.000,1590.000,0,48.267
26,Banning,30503.000,129.000,2.000,9.000,26.000,92.000,808.000,355.000,323.000,130.000,0.000,930433009.000,937.000,1,32.554
27,Barstow,23144.000,229.000,3.000,13.000,45.000,168.000,785.000,329.000,354.000,102.000,11.000,535644736.000,1014.000,1,22.824
28,Bear Valley,5328.000,12.000,0.000,1.000,0.000,11.000,111.000,10.000,101.000,0.000,0.000,28387584.000,123.000,1,43.317
29,Beaumont,40208.000,85.000,1.000,8.000,20.000,56.000,1298.000,180.000,1015.000,103.000,6.000,1616683264.000,1383.000,1,29.073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,Vista,96712.000,445.000,1.000,28.000,140.000,276.000,2045.000,390.000,1326.000,329.000,6.000,9353210944.000,2490.000,0,38.840
435,Walnut,30279.000,37.000,0.000,1.000,10.000,26.000,463.000,220.000,207.000,36.000,0.000,916817841.000,500.000,1,60.558
436,Walnut Creek,66149.000,78.000,0.000,4.000,31.000,43.000,2161.000,364.000,1634.000,163.000,1.000,4375690201.000,2239.000,0,29.544
437,Waterford,8590.000,29.000,2.000,1.000,4.000,22.000,224.000,78.000,104.000,42.000,0.000,73788100.000,253.000,1,33.953
438,Watsonville,52076.000,237.000,3.000,20.000,71.000,143.000,1308.000,218.000,824.000,266.000,9.000,2711909776.000,1545.000,0,33.706
439,Weed,2927.000,26.000,0.000,6.000,3.000,17.000,110.000,33.000,74.000,3.000,0.000,8567329.000,136.000,1,21.522
440,West Covina,107867.000,231.000,1.000,2.000,106.000,122.000,3370.000,615.000,2254.000,501.000,2.000,11635289689.000,3601.000,0,29.955
441,West Hollywood,34902.000,216.000,0.000,14.000,68.000,134.000,1435.000,292.000,1044.000,99.000,2.000,1218149604.000,1651.000,0,21.140
442,Westlake Village,8440.000,11.000,0.000,1.000,3.000,7.000,148.000,40.000,102.000,6.000,1.000,71233600.000,159.000,1,53.082
443,Westminster,91885.000,283.000,0.000,13.000,84.000,186.000,2476.000,420.000,1720.000,336.000,8.000,8442853225.000,2759.000,0,33.304
444,Westmorland,2279.000,2.000,0.000,1.000,1.000,0.000,6.000,2.000,4.000,0.000,0.000,5193841.000,8.000,1,284.875
445,West Sacramento,49751.000,205.000,1.000,16.000,98.000,90.000,1483.000,380.000,894.000,209.000,9.000,2475162001.000,1688.000,0,29.473
446,Wheatland,3522.000,0.000,0.000,0.000,0.000,0.000,49.000,16.000,28.000,5.000,0.000,12404484.000,49.000,1,71.878
447,Whittier,86450.000,223.000,3.000,17.000,73.000,130.000,2383.000,455.000,1675.000,253.000,4.000,7473602500.000,2606.000,0,33.173
448,Wildomar,33453.000,40.000,0.000,2.000,11.000,27.000,536.000,166.000,287.000,83.000,1.000,1119103209.000,576.000,1,58.078
449,Williams,5176.000,5.000,0.000,0.000,3.000,2.000,67.000,24.000,35.000,8.000,1.000,26790976.000,72.000,1,71.889
450,Willits,4832.000,30.000,0.000,1.000,1.000,28.000,61.000,6.000,35.000,20.000,2.000,23348224.000,91.000,1,53.099
451,Willows,6122.000,17.000,0.000,2.000,3.000,12.000,179.000,54.000,116.000,9.000,0.000,37478884.000,196.000,1,31.235
452,Windsor,27249.000,105.000,0.000,9.000,8.000,88.000,269.000,52.000,209.000,8.000,4.000,742508001.000,374.000,1,72.858
453,Winters,6992.000,8.000,1.000,0.000,3.000,4.000,115.000,27.000,76.000,12.000,2.000,48888064.000,123.000,1,56.846
454,Woodlake,7417.000,10.000,1.000,1.000,1.000,7.000,134.000,39.000,79.000,16.000,0.000,55011889.000,144.000,1,51.507
455,Woodland,56523.000,272.000,1.000,16.000,48.000,207.000,1942.000,510.000,1238.000,194.000,34.000,3194849529.000,2214.000,0,25.530
456,Yorba Linda,67492.000,30.000,0.000,5.000,6.000,19.000,700.000,172.000,482.000,46.000,1.000,4555170064.000,730.000,1,92.455
457,Yountville,2969.000,1.000,0.000,1.000,0.000,0.000,57.000,17.000,34.000,6.000,0.000,8814961.000,58.000,1,51.190
458,Yreka,7639.000,49.000,1.000,2.000,2.000,44.000,278.000,71.000,193.000,14.000,2.000,58354321.000,327.000,1,23.361
459,Yuba City,65133.000,174.000,2.000,15.000,39.000,118.000,1980.000,438.000,1210.000,332.000,16.000,4242307689.000,2154.000,0,30.238
460,Yucaipa,52524.000,107.000,0.000,7.000,31.000,69.000,926.000,262.000,534.000,130.000,13.000,2758770576.000,1033.000,1,50.846
461,Yucca Valley,21214.000,86.000,3.000,7.000,15.000,61.000,429.000,141.000,234.000,54.000,2.000,450033796.000,515.000,1,41.192
462,1 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1,nan
463,2 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1,nan

In [34]:
df.drop([462,463],axis = 0, inplace= True)

In [35]:
keywords = ['Population', 'ViolentCrime', 'Murder', 'Rape2', 'Robbery',
       'AggravatedAssault', 'PropertyCrime', 'Burglary', 'LarcenyTheft',
       'MotorVehicleTheft', 'Arson3', 'Population2', 'TotalCrime','PopCrimeRatio']

In [36]:
# Declare a logistic regression classifier.
# Parameter regularization coefficient C described above.
lr = LogisticRegression(C=1e9)
y = df['LowCrime']
X = df[keywords]

In [37]:
# Fit the model.
fit = lr.fit(X, y)

# Display.
print('Coefficients')
print(fit.coef_)
print(fit.intercept_)
pred_y_sklearn = lr.predict(X)

print('\n Accuracy by LowCrime')
print(pd.crosstab(pred_y_sklearn, y))

print('\n Percentage accuracy')
print(lr.score(X, y))

Coefficients
[[ 2.58660697e-15 -1.03922254e-18 -5.02408090e-20  2.24036978e-19
  -2.55005469e-18  1.33703598e-18 -8.40989037e-18  3.86938545e-18
  -3.97144911e-18 -8.30782672e-18  6.15413669e-20 -1.82335599e-10
  -9.44911292e-18  1.67467836e-17]]
[2.87906446e-19]

 Accuracy by LowCrime
LowCrime    0    1
row_0
0         162  300

 Percentage accuracy
0.35064935064935066

### Ridge Regression

In [39]:
trainsize = int(df.shape[0] / 2)
df_test = df.iloc[trainsize:, :].copy()
df_train = df.iloc[:trainsize, :].copy()

In [40]:
Y_train = df_train['LowCrime']
X_train = df_train[keywords]

In [41]:
df_train['Violent_Property'] = df_train['ViolentCrime'] * df_train['PropertyCrime']
df_train['Violent_Population'] = df_train['ViolentCrime'] * df_train['Population']
df_train['Property_Population'] = df_train['Population'] * df_train['PropertyCrime']
df_train['Population_sqrt'] = (df_train['Population']) ** .5
df_train['Population3'] = (df_train['Population']) ** 3

In [43]:
keywords2 = ['Population', 'ViolentCrime', 'Murder', 'Rape2', 'Robbery',
       'AggravatedAssault', 'PropertyCrime', 'Burglary', 'LarcenyTheft',
       'MotorVehicleTheft', 'Arson3', 'Population2', 'TotalCrime',
       'PopCrimeRatio', 'Violent_Property', 'Violent_Population',
       'Property_Population', 'Population_sqrt', 'Population3']

In [45]:
X_train2 = df_train[keywords2]

In [53]:
# Fitting a ridge regression model. Alpha is the regularization
# parameter (usually called lambda). As alpha gets larger, parameter
# shrinkage grows more pronounced. Note that by convention, the
# intercept is not regularized. Since we standardized the data
# earlier, the intercept should be equal to zero and can be dropped.

ridgeregr = LogisticRegression(penalty = 'l2')
ridgeregr.fit(X_train, Y_train)
print(ridgeregr.score(X_train, Y_train))
origparams = ridgeregr.coef_[0]
print(origparams)

ridgeregrBig = LogisticRegression(penalty = 'l2')
ridgeregrBig.fit(X_train2, Y_train)
print(ridgeregrBig.score(X_train2, Y_train))
newparams = ridgeregrBig.coef_[0,0:len(origparams)]
print(newparams)

print('\nParameter Estimates for the same predictors for the small model and large model:')
compare = np.column_stack((origparams, newparams))
prettycompare = np.array2string(
    compare,
    formatter={'float_kind':'{0:.3f}'.format})
print(compare)

0.30303030303030304
[ 4.21034891e-15  3.27789253e-18 -1.76043211e-20  5.87256204e-19
 -2.25479835e-18  4.96303899e-18  2.26780408e-17  1.28869248e-17
  1.71604647e-17 -7.36934869e-18  4.67345755e-19 -1.59028623e-10
  2.59559333e-17  2.21765355e-17]
0.30303030303030304
[ 9.31818299e-25  1.30996343e-27  5.28063651e-30  1.40468224e-28
 -1.13888590e-28  1.27810316e-27  9.08116740e-27  3.31491986e-27
  6.13562799e-27 -3.69380441e-28  1.10544465e-28  6.30585259e-22
  1.03911308e-26  3.94624022e-27]

Parameter Estimates for the same predictors for the small model and large model:
[[ 4.21034891e-15  9.31818299e-25]
 [ 3.27789253e-18  1.30996343e-27]
 [-1.76043211e-20  5.28063651e-30]
 [ 5.87256204e-19  1.40468224e-28]
 [-2.25479835e-18 -1.13888590e-28]
 [ 4.96303899e-18  1.27810316e-27]
 [ 2.26780408e-17  9.08116740e-27]
 [ 1.28869248e-17  3.31491986e-27]
 [ 1.71604647e-17  6.13562799e-27]
 [-7.36934869e-18 -3.69380441e-28]
 [ 4.67345755e-19  1.10544465e-28]
 [-1.59028623e-10  6.30585259e-22]
 [ 2.59559333e-17  1.03911308e-26]
 [ 2.21765355e-17  3.94624022e-27]]

In [54]:
# Test the simpler model with smaller coefficients.
Y_test = df_test['LowCrime']
X_test = df_test[keywords]
print('\nR-squared simple model:')
print(ridgeregr.score(X_test, Y_test))

# Test the more complex model with larger coefficients.
df_test['Violent_Property'] = df_test['ViolentCrime'] * df_test['PropertyCrime']
df_test['Violent_Population'] = df_test['ViolentCrime'] * df_test['Population']
df_test['Property_Population'] = df_test['Population'] * df_test['PropertyCrime']
df_test['Population_sqrt'] = (df_test['Population']) ** .5
df_test['Population3'] = (df_test['Population']) ** 3

# Re-run the model with the new features.
X_test2 = df_test[keywords2]
print('\nR-squared complex model:')
print(ridgeregrBig.score(X_test2, Y_test))

R-squared simple model:
0.39826839826839827

R-squared complex model:
0.39826839826839827

### Lasso Regression

In [56]:
# Fitting a ridge regression model. Alpha is the regularization
# parameter (usually called lambda). As alpha gets larger, parameter
# shrinkage grows more pronounced. Note that by convention, the
# intercept is not regularized. Since we standardized the data
# earlier, the intercept should be equal to zero and can be dropped.

lassoregr = LogisticRegression(penalty = 'l1')
lassoregr.fit(X_train, Y_train)
print(lassoregr.score(X_train, Y_train))
origparams = lassoregr.coef_[0]
print(origparams)

lassoregrBig = LogisticRegression(penalty = 'l1')
lassoregrBig.fit(X_train2, Y_train)
print(lassoregrBig.score(X_train2, Y_train))
newparams = lassoregrBig.coef_[0,0:len(origparams)]
print(newparams)

print('\nParameter Estimates for the same predictors for the small model and large model:')
compare = np.column_stack((origparams, newparams))
prettycompare = np.array2string(
    compare,
    formatter={'float_kind':'{0:.3f}'.format})
print(compare)

0.9913419913419913
[-8.48482179e-05 -2.08597199e-03  0.00000000e+00 -3.02557170e-02
 -3.13210849e-03  7.21715466e-03 -8.06790469e-04 -8.23004201e-03
 -9.68127003e-04  2.34301153e-04  6.29757057e-02 -2.09350069e-09
 -5.25177402e-04  4.07255400e-01]
1.0
[-2.22510220e-06  1.71991698e-02  0.00000000e+00  9.56473902e-03
  4.55867573e-02  3.51382461e-02 -8.21973088e-04 -7.15362020e-03
 -1.05350492e-03  4.65088939e-03  1.68422914e-01 -7.62313567e-11
  4.04900521e-04  3.08408039e-01]

Parameter Estimates for the same predictors for the small model and large model:
[[-8.48482179e-05 -2.22510220e-06]
 [-2.08597199e-03  1.71991698e-02]
 [ 0.00000000e+00  0.00000000e+00]
 [-3.02557170e-02  9.56473902e-03]
 [-3.13210849e-03  4.55867573e-02]
 [ 7.21715466e-03  3.51382461e-02]
 [-8.06790469e-04 -8.21973088e-04]
 [-8.23004201e-03 -7.15362020e-03]
 [-9.68127003e-04 -1.05350492e-03]
 [ 2.34301153e-04  4.65088939e-03]
 [ 6.29757057e-02  1.68422914e-01]
 [-2.09350069e-09 -7.62313567e-11]
 [-5.25177402e-04  4.04900521e-04]
 [ 4.07255400e-01  3.08408039e-01]]

In [57]:
# Test the simpler model with smaller coefficients.
print('\nR-squared simple model:')
print(lassoregr.score(X_test, Y_test))

# Re-run the model with the new features.
print('\nR-squared complex model:')
print(lassoregrBig.score(X_test2, Y_test))

R-squared simple model:
0.9913419913419913

R-squared complex model:
0.9913419913419913