In [1]:
import math
import warnings
import scipy
from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

sns.set_style('white')
# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

D:\Anaconda\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
df = pd.read_csv('F:/Thinkful/Files/california crime 2013.csv')

In [3]:
df

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CALIFORNIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson,nan
4,Adelanto,"31,165",198,2,NaN,15,52,129,886,381,372,133,17,nan
5,Agoura Hills,"20,762",19,0,NaN,2,10,7,306,109,185,12,7,nan
6,Alameda,"76,206",158,0,NaN,10,85,63,"1,902",287,"1,285",330,17,nan
7,Albany,"19,104",29,0,NaN,1,24,4,557,94,388,75,7,nan
8,Alhambra,"84,710",163,1,NaN,9,81,72,"1,774",344,"1,196",234,7,nan
9,Aliso Viejo,"50,005",25,0,NaN,2,4,19,315,71,224,20,3,nan
10,Alturas,"2,681",28,1,NaN,4,2,21,71,23,46,2,0,nan
11,American Canyon,"20,068",54,0,NaN,4,31,19,510,91,387,32,2,nan
12,Anaheim,"345,320","1,130",11,NaN,82,437,600,"9,611","1,412","6,518","1,681",35,nan
13,Anderson,"10,098",63,0,NaN,8,9,46,721,147,454,120,5,nan
14,Antioch,"106,447",946,12,NaN,25,352,557,"4,440","1,351","1,872","1,217",57,nan
15,Apple Valley,"71,159",185,3,NaN,12,58,112,"1,594",596,775,223,22,nan
16,Arcadia,"57,855",77,0,NaN,1,37,39,"1,518",376,"1,080",62,3,nan
17,Arcata,"17,805",67,3,NaN,7,15,42,841,147,634,60,14,nan
18,Arroyo Grande,"17,634",31,0,NaN,5,4,22,455,137,288,30,0,nan
19,Artesia,"16,734",63,2,NaN,0,28,33,323,91,177,55,1,nan
20,Arvin,"20,390",153,2,NaN,1,16,134,744,323,308,113,15,nan
21,Atascadero,"28,938",97,1,NaN,12,24,60,544,119,400,25,7,nan
22,Atherton,"7,278",10,0,NaN,1,1,8,115,34,78,3,1,nan
23,Atwater,"28,906",182,1,NaN,7,22,152,"1,323",361,804,158,5,nan
24,Auburn,"13,779",49,0,NaN,2,13,34,302,86,190,26,7,nan
25,Avalon,"3,777",4,0,NaN,0,2,2,88,13,57,18,1,nan
26,Avenal,"14,712",62,0,NaN,4,6,52,147,63,67,17,2,nan
27,Azusa,"47,754",246,2,NaN,4,36,204,"1,098",256,671,171,6,nan
28,Bakersfield,"361,859","1,857",24,NaN,43,708,"1,082","16,814","4,605","9,272","2,937",193,nan
29,Baldwin Park,"76,745",220,5,NaN,6,74,135,"1,370",280,727,363,8,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,Vista,"96,712",445,1,NaN,28,140,276,"2,045",390,"1,326",329,6,nan
439,Walnut,"30,279",37,0,NaN,1,10,26,463,220,207,36,0,nan
440,Walnut Creek,"66,149",78,0,NaN,4,31,43,"2,161",364,"1,634",163,1,nan
441,Waterford,"8,590",29,2,NaN,1,4,22,224,78,104,42,0,nan
442,Watsonville,"52,076",237,3,NaN,20,71,143,"1,308",218,824,266,9,nan
443,Weed,"2,927",26,0,NaN,6,3,17,110,33,74,3,0,nan
444,West Covina,"107,867",231,1,NaN,2,106,122,"3,370",615,"2,254",501,2,nan
445,West Hollywood,"34,902",216,0,NaN,14,68,134,"1,435",292,"1,044",99,2,nan
446,Westlake Village,"8,440",11,0,NaN,1,3,7,148,40,102,6,1,nan
447,Westminster,"91,885",283,0,NaN,13,84,186,"2,476",420,"1,720",336,8,nan
448,Westmorland,"2,279",2,0,NaN,1,1,0,6,2,4,0,0,nan
449,West Sacramento,"49,751",205,1,NaN,16,98,90,"1,483",380,894,209,9,nan
450,Wheatland,"3,522",0,0,NaN,0,0,0,49,16,28,5,0,nan
451,Whittier,"86,450",223,3,NaN,17,73,130,"2,383",455,"1,675",253,4,nan
452,Wildomar,"33,453",40,0,NaN,2,11,27,536,166,287,83,1,nan
453,Williams,"5,176",5,0,NaN,0,3,2,67,24,35,8,1,nan
454,Willits,"4,832",30,0,NaN,1,1,28,61,6,35,20,2,nan
455,Willows,"6,122",17,0,NaN,2,3,12,179,54,116,9,0,nan
456,Windsor,"27,249",105,0,NaN,9,8,88,269,52,209,8,4,nan
457,Winters,"6,992",8,1,NaN,0,3,4,115,27,76,12,2,nan
458,Woodlake,"7,417",10,1,NaN,1,1,7,134,39,79,16,0,nan
459,Woodland,"56,523",272,1,NaN,16,48,207,"1,942",510,"1,238",194,34,nan
460,Yorba Linda,"67,492",30,0,NaN,5,6,19,700,172,482,46,1,nan
461,Yountville,"2,969",1,0,NaN,1,0,0,57,17,34,6,0,nan
462,Yreka,"7,639",49,1,NaN,2,2,44,278,71,193,14,2,nan
463,Yuba City,"65,133",174,2,NaN,15,39,118,"1,980",438,"1,210",332,16,nan
464,Yucaipa,"52,524",107,0,NaN,7,31,69,926,262,534,130,13,nan
465,Yucca Valley,"21,214",86,3,NaN,7,15,61,429,141,234,54,2,nan
466,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
467,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [4]:
df = df.drop([0,1,2], axis=0)

In [5]:
df

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson,nan
4,Adelanto,"31,165",198,2,NaN,15,52,129,886,381,372,133,17,nan
5,Agoura Hills,"20,762",19,0,NaN,2,10,7,306,109,185,12,7,nan
6,Alameda,"76,206",158,0,NaN,10,85,63,"1,902",287,"1,285",330,17,nan
7,Albany,"19,104",29,0,NaN,1,24,4,557,94,388,75,7,nan
8,Alhambra,"84,710",163,1,NaN,9,81,72,"1,774",344,"1,196",234,7,nan
9,Aliso Viejo,"50,005",25,0,NaN,2,4,19,315,71,224,20,3,nan
10,Alturas,"2,681",28,1,NaN,4,2,21,71,23,46,2,0,nan
11,American Canyon,"20,068",54,0,NaN,4,31,19,510,91,387,32,2,nan
12,Anaheim,"345,320","1,130",11,NaN,82,437,600,"9,611","1,412","6,518","1,681",35,nan
13,Anderson,"10,098",63,0,NaN,8,9,46,721,147,454,120,5,nan
14,Antioch,"106,447",946,12,NaN,25,352,557,"4,440","1,351","1,872","1,217",57,nan
15,Apple Valley,"71,159",185,3,NaN,12,58,112,"1,594",596,775,223,22,nan
16,Arcadia,"57,855",77,0,NaN,1,37,39,"1,518",376,"1,080",62,3,nan
17,Arcata,"17,805",67,3,NaN,7,15,42,841,147,634,60,14,nan
18,Arroyo Grande,"17,634",31,0,NaN,5,4,22,455,137,288,30,0,nan
19,Artesia,"16,734",63,2,NaN,0,28,33,323,91,177,55,1,nan
20,Arvin,"20,390",153,2,NaN,1,16,134,744,323,308,113,15,nan
21,Atascadero,"28,938",97,1,NaN,12,24,60,544,119,400,25,7,nan
22,Atherton,"7,278",10,0,NaN,1,1,8,115,34,78,3,1,nan
23,Atwater,"28,906",182,1,NaN,7,22,152,"1,323",361,804,158,5,nan
24,Auburn,"13,779",49,0,NaN,2,13,34,302,86,190,26,7,nan
25,Avalon,"3,777",4,0,NaN,0,2,2,88,13,57,18,1,nan
26,Avenal,"14,712",62,0,NaN,4,6,52,147,63,67,17,2,nan
27,Azusa,"47,754",246,2,NaN,4,36,204,"1,098",256,671,171,6,nan
28,Bakersfield,"361,859","1,857",24,NaN,43,708,"1,082","16,814","4,605","9,272","2,937",193,nan
29,Baldwin Park,"76,745",220,5,NaN,6,74,135,"1,370",280,727,363,8,nan
30,Banning,"30,503",129,2,NaN,9,26,92,808,355,323,130,0,nan
31,Barstow,"23,144",229,3,NaN,13,45,168,785,329,354,102,11,nan
32,Bear Valley,"5,328",12,0,NaN,1,0,11,111,10,101,0,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,Vista,"96,712",445,1,NaN,28,140,276,"2,045",390,"1,326",329,6,nan
439,Walnut,"30,279",37,0,NaN,1,10,26,463,220,207,36,0,nan
440,Walnut Creek,"66,149",78,0,NaN,4,31,43,"2,161",364,"1,634",163,1,nan
441,Waterford,"8,590",29,2,NaN,1,4,22,224,78,104,42,0,nan
442,Watsonville,"52,076",237,3,NaN,20,71,143,"1,308",218,824,266,9,nan
443,Weed,"2,927",26,0,NaN,6,3,17,110,33,74,3,0,nan
444,West Covina,"107,867",231,1,NaN,2,106,122,"3,370",615,"2,254",501,2,nan
445,West Hollywood,"34,902",216,0,NaN,14,68,134,"1,435",292,"1,044",99,2,nan
446,Westlake Village,"8,440",11,0,NaN,1,3,7,148,40,102,6,1,nan
447,Westminster,"91,885",283,0,NaN,13,84,186,"2,476",420,"1,720",336,8,nan
448,Westmorland,"2,279",2,0,NaN,1,1,0,6,2,4,0,0,nan
449,West Sacramento,"49,751",205,1,NaN,16,98,90,"1,483",380,894,209,9,nan
450,Wheatland,"3,522",0,0,NaN,0,0,0,49,16,28,5,0,nan
451,Whittier,"86,450",223,3,NaN,17,73,130,"2,383",455,"1,675",253,4,nan
452,Wildomar,"33,453",40,0,NaN,2,11,27,536,166,287,83,1,nan
453,Williams,"5,176",5,0,NaN,0,3,2,67,24,35,8,1,nan
454,Willits,"4,832",30,0,NaN,1,1,28,61,6,35,20,2,nan
455,Willows,"6,122",17,0,NaN,2,3,12,179,54,116,9,0,nan
456,Windsor,"27,249",105,0,NaN,9,8,88,269,52,209,8,4,nan
457,Winters,"6,992",8,1,NaN,0,3,4,115,27,76,12,2,nan
458,Woodlake,"7,417",10,1,NaN,1,1,7,134,39,79,16,0,nan
459,Woodland,"56,523",272,1,NaN,16,48,207,"1,942",510,"1,238",194,34,nan
460,Yorba Linda,"67,492",30,0,NaN,5,6,19,700,172,482,46,1,nan
461,Yountville,"2,969",1,0,NaN,1,0,0,57,17,34,6,0,nan
462,Yreka,"7,639",49,1,NaN,2,2,44,278,71,193,14,2,nan
463,Yuba City,"65,133",174,2,NaN,15,39,118,"1,980",438,"1,210",332,16,nan
464,Yucaipa,"52,524",107,0,NaN,7,31,69,926,262,534,130,13,nan
465,Yucca Valley,"21,214",86,3,NaN,7,15,61,429,141,234,54,2,nan
466,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
467,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [6]:
df.columns = ['City','Population','ViolentCrime','Murder',
              'Rape1','Rape2','Robbery',
              'AggravatedAssault','PropertyCrime','Burglary','LarcenyTheft',
              'MotorVehicleTheft','Arson3','extra']

In [7]:
df = df.drop(['extra'],axis = 1)

In [8]:
df = df.reset_index()

In [9]:
df = df.drop(['index'],axis = 1)
df = df.drop([0], axis = 0)

In [10]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3
1,Adelanto,"31,165",198,2,NaN,15,52,129,886,381,372,133,17
2,Agoura Hills,"20,762",19,0,NaN,2,10,7,306,109,185,12,7
3,Alameda,"76,206",158,0,NaN,10,85,63,"1,902",287,"1,285",330,17
4,Albany,"19,104",29,0,NaN,1,24,4,557,94,388,75,7
5,Alhambra,"84,710",163,1,NaN,9,81,72,"1,774",344,"1,196",234,7
6,Aliso Viejo,"50,005",25,0,NaN,2,4,19,315,71,224,20,3
7,Alturas,"2,681",28,1,NaN,4,2,21,71,23,46,2,0
8,American Canyon,"20,068",54,0,NaN,4,31,19,510,91,387,32,2
9,Anaheim,"345,320","1,130",11,NaN,82,437,600,"9,611","1,412","6,518","1,681",35
10,Anderson,"10,098",63,0,NaN,8,9,46,721,147,454,120,5
11,Antioch,"106,447",946,12,NaN,25,352,557,"4,440","1,351","1,872","1,217",57
12,Apple Valley,"71,159",185,3,NaN,12,58,112,"1,594",596,775,223,22
13,Arcadia,"57,855",77,0,NaN,1,37,39,"1,518",376,"1,080",62,3
14,Arcata,"17,805",67,3,NaN,7,15,42,841,147,634,60,14
15,Arroyo Grande,"17,634",31,0,NaN,5,4,22,455,137,288,30,0
16,Artesia,"16,734",63,2,NaN,0,28,33,323,91,177,55,1
17,Arvin,"20,390",153,2,NaN,1,16,134,744,323,308,113,15
18,Atascadero,"28,938",97,1,NaN,12,24,60,544,119,400,25,7
19,Atherton,"7,278",10,0,NaN,1,1,8,115,34,78,3,1
20,Atwater,"28,906",182,1,NaN,7,22,152,"1,323",361,804,158,5
21,Auburn,"13,779",49,0,NaN,2,13,34,302,86,190,26,7
22,Avalon,"3,777",4,0,NaN,0,2,2,88,13,57,18,1
23,Avenal,"14,712",62,0,NaN,4,6,52,147,63,67,17,2
24,Azusa,"47,754",246,2,NaN,4,36,204,"1,098",256,671,171,6
25,Bakersfield,"361,859","1,857",24,NaN,43,708,"1,082","16,814","4,605","9,272","2,937",193
26,Baldwin Park,"76,745",220,5,NaN,6,74,135,"1,370",280,727,363,8
27,Banning,"30,503",129,2,NaN,9,26,92,808,355,323,130,0
28,Barstow,"23,144",229,3,NaN,13,45,168,785,329,354,102,11
29,Bear Valley,"5,328",12,0,NaN,1,0,11,111,10,101,0,0
30,Beaumont,"40,208",85,1,NaN,8,20,56,"1,298",180,"1,015",103,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Vista,"96,712",445,1,NaN,28,140,276,"2,045",390,"1,326",329,6
436,Walnut,"30,279",37,0,NaN,1,10,26,463,220,207,36,0
437,Walnut Creek,"66,149",78,0,NaN,4,31,43,"2,161",364,"1,634",163,1
438,Waterford,"8,590",29,2,NaN,1,4,22,224,78,104,42,0
439,Watsonville,"52,076",237,3,NaN,20,71,143,"1,308",218,824,266,9
440,Weed,"2,927",26,0,NaN,6,3,17,110,33,74,3,0
441,West Covina,"107,867",231,1,NaN,2,106,122,"3,370",615,"2,254",501,2
442,West Hollywood,"34,902",216,0,NaN,14,68,134,"1,435",292,"1,044",99,2
443,Westlake Village,"8,440",11,0,NaN,1,3,7,148,40,102,6,1
444,Westminster,"91,885",283,0,NaN,13,84,186,"2,476",420,"1,720",336,8
445,Westmorland,"2,279",2,0,NaN,1,1,0,6,2,4,0,0
446,West Sacramento,"49,751",205,1,NaN,16,98,90,"1,483",380,894,209,9
447,Wheatland,"3,522",0,0,NaN,0,0,0,49,16,28,5,0
448,Whittier,"86,450",223,3,NaN,17,73,130,"2,383",455,"1,675",253,4
449,Wildomar,"33,453",40,0,NaN,2,11,27,536,166,287,83,1
450,Williams,"5,176",5,0,NaN,0,3,2,67,24,35,8,1
451,Willits,"4,832",30,0,NaN,1,1,28,61,6,35,20,2
452,Willows,"6,122",17,0,NaN,2,3,12,179,54,116,9,0
453,Windsor,"27,249",105,0,NaN,9,8,88,269,52,209,8,4
454,Winters,"6,992",8,1,NaN,0,3,4,115,27,76,12,2
455,Woodlake,"7,417",10,1,NaN,1,1,7,134,39,79,16,0
456,Woodland,"56,523",272,1,NaN,16,48,207,"1,942",510,"1,238",194,34
457,Yorba Linda,"67,492",30,0,NaN,5,6,19,700,172,482,46,1
458,Yountville,"2,969",1,0,NaN,1,0,0,57,17,34,6,0
459,Yreka,"7,639",49,1,NaN,2,2,44,278,71,193,14,2
460,Yuba City,"65,133",174,2,NaN,15,39,118,"1,980",438,"1,210",332,16
461,Yucaipa,"52,524",107,0,NaN,7,31,69,926,262,534,130,13
462,Yucca Valley,"21,214",86,3,NaN,7,15,61,429,141,234,54,2
463,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
type(df.loc[1][2])

str

In [12]:
for column in df:
    df[column] = df[column].str.replace(',', '')

In [13]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3
1,Adelanto,31165,198,2,NaN,15,52,129,886,381,372,133,17
2,Agoura Hills,20762,19,0,NaN,2,10,7,306,109,185,12,7
3,Alameda,76206,158,0,NaN,10,85,63,1902,287,1285,330,17
4,Albany,19104,29,0,NaN,1,24,4,557,94,388,75,7
5,Alhambra,84710,163,1,NaN,9,81,72,1774,344,1196,234,7
6,Aliso Viejo,50005,25,0,NaN,2,4,19,315,71,224,20,3
7,Alturas,2681,28,1,NaN,4,2,21,71,23,46,2,0
8,American Canyon,20068,54,0,NaN,4,31,19,510,91,387,32,2
9,Anaheim,345320,1130,11,NaN,82,437,600,9611,1412,6518,1681,35
10,Anderson,10098,63,0,NaN,8,9,46,721,147,454,120,5
11,Antioch,106447,946,12,NaN,25,352,557,4440,1351,1872,1217,57
12,Apple Valley,71159,185,3,NaN,12,58,112,1594,596,775,223,22
13,Arcadia,57855,77,0,NaN,1,37,39,1518,376,1080,62,3
14,Arcata,17805,67,3,NaN,7,15,42,841,147,634,60,14
15,Arroyo Grande,17634,31,0,NaN,5,4,22,455,137,288,30,0
16,Artesia,16734,63,2,NaN,0,28,33,323,91,177,55,1
17,Arvin,20390,153,2,NaN,1,16,134,744,323,308,113,15
18,Atascadero,28938,97,1,NaN,12,24,60,544,119,400,25,7
19,Atherton,7278,10,0,NaN,1,1,8,115,34,78,3,1
20,Atwater,28906,182,1,NaN,7,22,152,1323,361,804,158,5
21,Auburn,13779,49,0,NaN,2,13,34,302,86,190,26,7
22,Avalon,3777,4,0,NaN,0,2,2,88,13,57,18,1
23,Avenal,14712,62,0,NaN,4,6,52,147,63,67,17,2
24,Azusa,47754,246,2,NaN,4,36,204,1098,256,671,171,6
25,Bakersfield,361859,1857,24,NaN,43,708,1082,16814,4605,9272,2937,193
26,Baldwin Park,76745,220,5,NaN,6,74,135,1370,280,727,363,8
27,Banning,30503,129,2,NaN,9,26,92,808,355,323,130,0
28,Barstow,23144,229,3,NaN,13,45,168,785,329,354,102,11
29,Bear Valley,5328,12,0,NaN,1,0,11,111,10,101,0,0
30,Beaumont,40208,85,1,NaN,8,20,56,1298,180,1015,103,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Vista,96712,445,1,NaN,28,140,276,2045,390,1326,329,6
436,Walnut,30279,37,0,NaN,1,10,26,463,220,207,36,0
437,Walnut Creek,66149,78,0,NaN,4,31,43,2161,364,1634,163,1
438,Waterford,8590,29,2,NaN,1,4,22,224,78,104,42,0
439,Watsonville,52076,237,3,NaN,20,71,143,1308,218,824,266,9
440,Weed,2927,26,0,NaN,6,3,17,110,33,74,3,0
441,West Covina,107867,231,1,NaN,2,106,122,3370,615,2254,501,2
442,West Hollywood,34902,216,0,NaN,14,68,134,1435,292,1044,99,2
443,Westlake Village,8440,11,0,NaN,1,3,7,148,40,102,6,1
444,Westminster,91885,283,0,NaN,13,84,186,2476,420,1720,336,8
445,Westmorland,2279,2,0,NaN,1,1,0,6,2,4,0,0
446,West Sacramento,49751,205,1,NaN,16,98,90,1483,380,894,209,9
447,Wheatland,3522,0,0,NaN,0,0,0,49,16,28,5,0
448,Whittier,86450,223,3,NaN,17,73,130,2383,455,1675,253,4
449,Wildomar,33453,40,0,NaN,2,11,27,536,166,287,83,1
450,Williams,5176,5,0,NaN,0,3,2,67,24,35,8,1
451,Willits,4832,30,0,NaN,1,1,28,61,6,35,20,2
452,Willows,6122,17,0,NaN,2,3,12,179,54,116,9,0
453,Windsor,27249,105,0,NaN,9,8,88,269,52,209,8,4
454,Winters,6992,8,1,NaN,0,3,4,115,27,76,12,2
455,Woodlake,7417,10,1,NaN,1,1,7,134,39,79,16,0
456,Woodland,56523,272,1,NaN,16,48,207,1942,510,1238,194,34
457,Yorba Linda,67492,30,0,NaN,5,6,19,700,172,482,46,1
458,Yountville,2969,1,0,NaN,1,0,0,57,17,34,6,0
459,Yreka,7639,49,1,NaN,2,2,44,278,71,193,14,2
460,Yuba City,65133,174,2,NaN,15,39,118,1980,438,1210,332,16
461,Yucaipa,52524,107,0,NaN,7,31,69,926,262,534,130,13
462,Yucca Valley,21214,86,3,NaN,7,15,61,429,141,234,54,2
463,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.columns

Index(['City', 'Population', 'ViolentCrime', 'Murder', 'Rape1', 'Rape2',
       'Robbery', 'AggravatedAssault', 'PropertyCrime', 'Burglary',
       'LarcenyTheft', 'MotorVehicleTheft', 'Arson3'],
      dtype='object')

In [15]:
names = ['Population','ViolentCrime','Murder','Rape1','Rape2','Robbery','AggravatedAssault',
         'PropertyCrime','Burglary','LarcenyTheft','MotorVehicleTheft','Arson3']

In [16]:
for name in names:
    df[name] = pd.to_numeric(df[name])

In [17]:
type(df.loc[1][1])

numpy.float64

In [18]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3
1,Adelanto,31165.000,198.000,2.000,nan,15.000,52.000,129.000,886.000,381.000,372.000,133.000,17.000
2,Agoura Hills,20762.000,19.000,0.000,nan,2.000,10.000,7.000,306.000,109.000,185.000,12.000,7.000
3,Alameda,76206.000,158.000,0.000,nan,10.000,85.000,63.000,1902.000,287.000,1285.000,330.000,17.000
4,Albany,19104.000,29.000,0.000,nan,1.000,24.000,4.000,557.000,94.000,388.000,75.000,7.000
5,Alhambra,84710.000,163.000,1.000,nan,9.000,81.000,72.000,1774.000,344.000,1196.000,234.000,7.000
6,Aliso Viejo,50005.000,25.000,0.000,nan,2.000,4.000,19.000,315.000,71.000,224.000,20.000,3.000
7,Alturas,2681.000,28.000,1.000,nan,4.000,2.000,21.000,71.000,23.000,46.000,2.000,0.000
8,American Canyon,20068.000,54.000,0.000,nan,4.000,31.000,19.000,510.000,91.000,387.000,32.000,2.000
9,Anaheim,345320.000,1130.000,11.000,nan,82.000,437.000,600.000,9611.000,1412.000,6518.000,1681.000,35.000
10,Anderson,10098.000,63.000,0.000,nan,8.000,9.000,46.000,721.000,147.000,454.000,120.000,5.000
11,Antioch,106447.000,946.000,12.000,nan,25.000,352.000,557.000,4440.000,1351.000,1872.000,1217.000,57.000
12,Apple Valley,71159.000,185.000,3.000,nan,12.000,58.000,112.000,1594.000,596.000,775.000,223.000,22.000
13,Arcadia,57855.000,77.000,0.000,nan,1.000,37.000,39.000,1518.000,376.000,1080.000,62.000,3.000
14,Arcata,17805.000,67.000,3.000,nan,7.000,15.000,42.000,841.000,147.000,634.000,60.000,14.000
15,Arroyo Grande,17634.000,31.000,0.000,nan,5.000,4.000,22.000,455.000,137.000,288.000,30.000,0.000
16,Artesia,16734.000,63.000,2.000,nan,0.000,28.000,33.000,323.000,91.000,177.000,55.000,1.000
17,Arvin,20390.000,153.000,2.000,nan,1.000,16.000,134.000,744.000,323.000,308.000,113.000,15.000
18,Atascadero,28938.000,97.000,1.000,nan,12.000,24.000,60.000,544.000,119.000,400.000,25.000,7.000
19,Atherton,7278.000,10.000,0.000,nan,1.000,1.000,8.000,115.000,34.000,78.000,3.000,1.000
20,Atwater,28906.000,182.000,1.000,nan,7.000,22.000,152.000,1323.000,361.000,804.000,158.000,5.000
21,Auburn,13779.000,49.000,0.000,nan,2.000,13.000,34.000,302.000,86.000,190.000,26.000,7.000
22,Avalon,3777.000,4.000,0.000,nan,0.000,2.000,2.000,88.000,13.000,57.000,18.000,1.000
23,Avenal,14712.000,62.000,0.000,nan,4.000,6.000,52.000,147.000,63.000,67.000,17.000,2.000
24,Azusa,47754.000,246.000,2.000,nan,4.000,36.000,204.000,1098.000,256.000,671.000,171.000,6.000
25,Bakersfield,361859.000,1857.000,24.000,nan,43.000,708.000,1082.000,16814.000,4605.000,9272.000,2937.000,193.000
26,Baldwin Park,76745.000,220.000,5.000,nan,6.000,74.000,135.000,1370.000,280.000,727.000,363.000,8.000
27,Banning,30503.000,129.000,2.000,nan,9.000,26.000,92.000,808.000,355.000,323.000,130.000,0.000
28,Barstow,23144.000,229.000,3.000,nan,13.000,45.000,168.000,785.000,329.000,354.000,102.000,11.000
29,Bear Valley,5328.000,12.000,0.000,nan,1.000,0.000,11.000,111.000,10.000,101.000,0.000,0.000
30,Beaumont,40208.000,85.000,1.000,nan,8.000,20.000,56.000,1298.000,180.000,1015.000,103.000,6.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Vista,96712.000,445.000,1.000,nan,28.000,140.000,276.000,2045.000,390.000,1326.000,329.000,6.000
436,Walnut,30279.000,37.000,0.000,nan,1.000,10.000,26.000,463.000,220.000,207.000,36.000,0.000
437,Walnut Creek,66149.000,78.000,0.000,nan,4.000,31.000,43.000,2161.000,364.000,1634.000,163.000,1.000
438,Waterford,8590.000,29.000,2.000,nan,1.000,4.000,22.000,224.000,78.000,104.000,42.000,0.000
439,Watsonville,52076.000,237.000,3.000,nan,20.000,71.000,143.000,1308.000,218.000,824.000,266.000,9.000
440,Weed,2927.000,26.000,0.000,nan,6.000,3.000,17.000,110.000,33.000,74.000,3.000,0.000
441,West Covina,107867.000,231.000,1.000,nan,2.000,106.000,122.000,3370.000,615.000,2254.000,501.000,2.000
442,West Hollywood,34902.000,216.000,0.000,nan,14.000,68.000,134.000,1435.000,292.000,1044.000,99.000,2.000
443,Westlake Village,8440.000,11.000,0.000,nan,1.000,3.000,7.000,148.000,40.000,102.000,6.000,1.000
444,Westminster,91885.000,283.000,0.000,nan,13.000,84.000,186.000,2476.000,420.000,1720.000,336.000,8.000
445,Westmorland,2279.000,2.000,0.000,nan,1.000,1.000,0.000,6.000,2.000,4.000,0.000,0.000
446,West Sacramento,49751.000,205.000,1.000,nan,16.000,98.000,90.000,1483.000,380.000,894.000,209.000,9.000
447,Wheatland,3522.000,0.000,0.000,nan,0.000,0.000,0.000,49.000,16.000,28.000,5.000,0.000
448,Whittier,86450.000,223.000,3.000,nan,17.000,73.000,130.000,2383.000,455.000,1675.000,253.000,4.000
449,Wildomar,33453.000,40.000,0.000,nan,2.000,11.000,27.000,536.000,166.000,287.000,83.000,1.000
450,Williams,5176.000,5.000,0.000,nan,0.000,3.000,2.000,67.000,24.000,35.000,8.000,1.000
451,Willits,4832.000,30.000,0.000,nan,1.000,1.000,28.000,61.000,6.000,35.000,20.000,2.000
452,Willows,6122.000,17.000,0.000,nan,2.000,3.000,12.000,179.000,54.000,116.000,9.000,0.000
453,Windsor,27249.000,105.000,0.000,nan,9.000,8.000,88.000,269.000,52.000,209.000,8.000,4.000
454,Winters,6992.000,8.000,1.000,nan,0.000,3.000,4.000,115.000,27.000,76.000,12.000,2.000
455,Woodlake,7417.000,10.000,1.000,nan,1.000,1.000,7.000,134.000,39.000,79.000,16.000,0.000
456,Woodland,56523.000,272.000,1.000,nan,16.000,48.000,207.000,1942.000,510.000,1238.000,194.000,34.000
457,Yorba Linda,67492.000,30.000,0.000,nan,5.000,6.000,19.000,700.000,172.000,482.000,46.000,1.000
458,Yountville,2969.000,1.000,0.000,nan,1.000,0.000,0.000,57.000,17.000,34.000,6.000,0.000
459,Yreka,7639.000,49.000,1.000,nan,2.000,2.000,44.000,278.000,71.000,193.000,14.000,2.000
460,Yuba City,65133.000,174.000,2.000,nan,15.000,39.000,118.000,1980.000,438.000,1210.000,332.000,16.000
461,Yucaipa,52524.000,107.000,0.000,nan,7.000,31.000,69.000,926.000,262.000,534.000,130.000,13.000
462,Yucca Valley,21214.000,86.000,3.000,nan,7.000,15.000,61.000,429.000,141.000,234.000,54.000,2.000
463,1 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
464,2 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [19]:
df['Population2'] = df['Population'] ** 2

In [20]:
df.head()

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2
1,Adelanto,31165.000,198.000,2.000,nan,15.000,52.000,129.000,886.000,381.000,372.000,133.000,17.000,971257225.000
2,Agoura Hills,20762.000,19.000,0.000,nan,2.000,10.000,7.000,306.000,109.000,185.000,12.000,7.000,431060644.000
3,Alameda,76206.000,158.000,0.000,nan,10.000,85.000,63.000,1902.000,287.000,1285.000,330.000,17.000,5807354436.000
4,Albany,19104.000,29.000,0.000,nan,1.000,24.000,4.000,557.000,94.000,388.000,75.000,7.000,364962816.000
5,Alhambra,84710.000,163.000,1.000,nan,9.000,81.000,72.000,1774.000,344.000,1196.000,234.000,7.000,7175784100.000

In [21]:
df = df.reset_index()

In [22]:
df = df.drop(['index'],axis = 1)

In [23]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2
0,Adelanto,31165.000,198.000,2.000,nan,15.000,52.000,129.000,886.000,381.000,372.000,133.000,17.000,971257225.000
1,Agoura Hills,20762.000,19.000,0.000,nan,2.000,10.000,7.000,306.000,109.000,185.000,12.000,7.000,431060644.000
2,Alameda,76206.000,158.000,0.000,nan,10.000,85.000,63.000,1902.000,287.000,1285.000,330.000,17.000,5807354436.000
3,Albany,19104.000,29.000,0.000,nan,1.000,24.000,4.000,557.000,94.000,388.000,75.000,7.000,364962816.000
4,Alhambra,84710.000,163.000,1.000,nan,9.000,81.000,72.000,1774.000,344.000,1196.000,234.000,7.000,7175784100.000
5,Aliso Viejo,50005.000,25.000,0.000,nan,2.000,4.000,19.000,315.000,71.000,224.000,20.000,3.000,2500500025.000
6,Alturas,2681.000,28.000,1.000,nan,4.000,2.000,21.000,71.000,23.000,46.000,2.000,0.000,7187761.000
7,American Canyon,20068.000,54.000,0.000,nan,4.000,31.000,19.000,510.000,91.000,387.000,32.000,2.000,402724624.000
8,Anaheim,345320.000,1130.000,11.000,nan,82.000,437.000,600.000,9611.000,1412.000,6518.000,1681.000,35.000,119245902400.000
9,Anderson,10098.000,63.000,0.000,nan,8.000,9.000,46.000,721.000,147.000,454.000,120.000,5.000,101969604.000
10,Antioch,106447.000,946.000,12.000,nan,25.000,352.000,557.000,4440.000,1351.000,1872.000,1217.000,57.000,11330963809.000
11,Apple Valley,71159.000,185.000,3.000,nan,12.000,58.000,112.000,1594.000,596.000,775.000,223.000,22.000,5063603281.000
12,Arcadia,57855.000,77.000,0.000,nan,1.000,37.000,39.000,1518.000,376.000,1080.000,62.000,3.000,3347201025.000
13,Arcata,17805.000,67.000,3.000,nan,7.000,15.000,42.000,841.000,147.000,634.000,60.000,14.000,317018025.000
14,Arroyo Grande,17634.000,31.000,0.000,nan,5.000,4.000,22.000,455.000,137.000,288.000,30.000,0.000,310957956.000
15,Artesia,16734.000,63.000,2.000,nan,0.000,28.000,33.000,323.000,91.000,177.000,55.000,1.000,280026756.000
16,Arvin,20390.000,153.000,2.000,nan,1.000,16.000,134.000,744.000,323.000,308.000,113.000,15.000,415752100.000
17,Atascadero,28938.000,97.000,1.000,nan,12.000,24.000,60.000,544.000,119.000,400.000,25.000,7.000,837407844.000
18,Atherton,7278.000,10.000,0.000,nan,1.000,1.000,8.000,115.000,34.000,78.000,3.000,1.000,52969284.000
19,Atwater,28906.000,182.000,1.000,nan,7.000,22.000,152.000,1323.000,361.000,804.000,158.000,5.000,835556836.000
20,Auburn,13779.000,49.000,0.000,nan,2.000,13.000,34.000,302.000,86.000,190.000,26.000,7.000,189860841.000
21,Avalon,3777.000,4.000,0.000,nan,0.000,2.000,2.000,88.000,13.000,57.000,18.000,1.000,14265729.000
22,Avenal,14712.000,62.000,0.000,nan,4.000,6.000,52.000,147.000,63.000,67.000,17.000,2.000,216442944.000
23,Azusa,47754.000,246.000,2.000,nan,4.000,36.000,204.000,1098.000,256.000,671.000,171.000,6.000,2280444516.000
24,Bakersfield,361859.000,1857.000,24.000,nan,43.000,708.000,1082.000,16814.000,4605.000,9272.000,2937.000,193.000,130941935881.000
25,Baldwin Park,76745.000,220.000,5.000,nan,6.000,74.000,135.000,1370.000,280.000,727.000,363.000,8.000,5889795025.000
26,Banning,30503.000,129.000,2.000,nan,9.000,26.000,92.000,808.000,355.000,323.000,130.000,0.000,930433009.000
27,Barstow,23144.000,229.000,3.000,nan,13.000,45.000,168.000,785.000,329.000,354.000,102.000,11.000,535644736.000
28,Bear Valley,5328.000,12.000,0.000,nan,1.000,0.000,11.000,111.000,10.000,101.000,0.000,0.000,28387584.000
29,Beaumont,40208.000,85.000,1.000,nan,8.000,20.000,56.000,1298.000,180.000,1015.000,103.000,6.000,1616683264.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,Vista,96712.000,445.000,1.000,nan,28.000,140.000,276.000,2045.000,390.000,1326.000,329.000,6.000,9353210944.000
435,Walnut,30279.000,37.000,0.000,nan,1.000,10.000,26.000,463.000,220.000,207.000,36.000,0.000,916817841.000
436,Walnut Creek,66149.000,78.000,0.000,nan,4.000,31.000,43.000,2161.000,364.000,1634.000,163.000,1.000,4375690201.000
437,Waterford,8590.000,29.000,2.000,nan,1.000,4.000,22.000,224.000,78.000,104.000,42.000,0.000,73788100.000
438,Watsonville,52076.000,237.000,3.000,nan,20.000,71.000,143.000,1308.000,218.000,824.000,266.000,9.000,2711909776.000
439,Weed,2927.000,26.000,0.000,nan,6.000,3.000,17.000,110.000,33.000,74.000,3.000,0.000,8567329.000
440,West Covina,107867.000,231.000,1.000,nan,2.000,106.000,122.000,3370.000,615.000,2254.000,501.000,2.000,11635289689.000
441,West Hollywood,34902.000,216.000,0.000,nan,14.000,68.000,134.000,1435.000,292.000,1044.000,99.000,2.000,1218149604.000
442,Westlake Village,8440.000,11.000,0.000,nan,1.000,3.000,7.000,148.000,40.000,102.000,6.000,1.000,71233600.000
443,Westminster,91885.000,283.000,0.000,nan,13.000,84.000,186.000,2476.000,420.000,1720.000,336.000,8.000,8442853225.000
444,Westmorland,2279.000,2.000,0.000,nan,1.000,1.000,0.000,6.000,2.000,4.000,0.000,0.000,5193841.000
445,West Sacramento,49751.000,205.000,1.000,nan,16.000,98.000,90.000,1483.000,380.000,894.000,209.000,9.000,2475162001.000
446,Wheatland,3522.000,0.000,0.000,nan,0.000,0.000,0.000,49.000,16.000,28.000,5.000,0.000,12404484.000
447,Whittier,86450.000,223.000,3.000,nan,17.000,73.000,130.000,2383.000,455.000,1675.000,253.000,4.000,7473602500.000
448,Wildomar,33453.000,40.000,0.000,nan,2.000,11.000,27.000,536.000,166.000,287.000,83.000,1.000,1119103209.000
449,Williams,5176.000,5.000,0.000,nan,0.000,3.000,2.000,67.000,24.000,35.000,8.000,1.000,26790976.000
450,Willits,4832.000,30.000,0.000,nan,1.000,1.000,28.000,61.000,6.000,35.000,20.000,2.000,23348224.000
451,Willows,6122.000,17.000,0.000,nan,2.000,3.000,12.000,179.000,54.000,116.000,9.000,0.000,37478884.000
452,Windsor,27249.000,105.000,0.000,nan,9.000,8.000,88.000,269.000,52.000,209.000,8.000,4.000,742508001.000
453,Winters,6992.000,8.000,1.000,nan,0.000,3.000,4.000,115.000,27.000,76.000,12.000,2.000,48888064.000
454,Woodlake,7417.000,10.000,1.000,nan,1.000,1.000,7.000,134.000,39.000,79.000,16.000,0.000,55011889.000
455,Woodland,56523.000,272.000,1.000,nan,16.000,48.000,207.000,1942.000,510.000,1238.000,194.000,34.000,3194849529.000
456,Yorba Linda,67492.000,30.000,0.000,nan,5.000,6.000,19.000,700.000,172.000,482.000,46.000,1.000,4555170064.000
457,Yountville,2969.000,1.000,0.000,nan,1.000,0.000,0.000,57.000,17.000,34.000,6.000,0.000,8814961.000
458,Yreka,7639.000,49.000,1.000,nan,2.000,2.000,44.000,278.000,71.000,193.000,14.000,2.000,58354321.000
459,Yuba City,65133.000,174.000,2.000,nan,15.000,39.000,118.000,1980.000,438.000,1210.000,332.000,16.000,4242307689.000
460,Yucaipa,52524.000,107.000,0.000,nan,7.000,31.000,69.000,926.000,262.000,534.000,130.000,13.000,2758770576.000
461,Yucca Valley,21214.000,86.000,3.000,nan,7.000,15.000,61.000,429.000,141.000,234.000,54.000,2.000,450033796.000
462,1 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
463,2 The figures shown in this column for the off...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [24]:
df = df.fillna(0)

In [25]:
df

,City,Population,ViolentCrime,Murder,Rape1,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2
0,Adelanto,31165.000,198.000,2.000,0.000,15.000,52.000,129.000,886.000,381.000,372.000,133.000,17.000,971257225.000
1,Agoura Hills,20762.000,19.000,0.000,0.000,2.000,10.000,7.000,306.000,109.000,185.000,12.000,7.000,431060644.000
2,Alameda,76206.000,158.000,0.000,0.000,10.000,85.000,63.000,1902.000,287.000,1285.000,330.000,17.000,5807354436.000
3,Albany,19104.000,29.000,0.000,0.000,1.000,24.000,4.000,557.000,94.000,388.000,75.000,7.000,364962816.000
4,Alhambra,84710.000,163.000,1.000,0.000,9.000,81.000,72.000,1774.000,344.000,1196.000,234.000,7.000,7175784100.000
5,Aliso Viejo,50005.000,25.000,0.000,0.000,2.000,4.000,19.000,315.000,71.000,224.000,20.000,3.000,2500500025.000
6,Alturas,2681.000,28.000,1.000,0.000,4.000,2.000,21.000,71.000,23.000,46.000,2.000,0.000,7187761.000
7,American Canyon,20068.000,54.000,0.000,0.000,4.000,31.000,19.000,510.000,91.000,387.000,32.000,2.000,402724624.000
8,Anaheim,345320.000,1130.000,11.000,0.000,82.000,437.000,600.000,9611.000,1412.000,6518.000,1681.000,35.000,119245902400.000
9,Anderson,10098.000,63.000,0.000,0.000,8.000,9.000,46.000,721.000,147.000,454.000,120.000,5.000,101969604.000
10,Antioch,106447.000,946.000,12.000,0.000,25.000,352.000,557.000,4440.000,1351.000,1872.000,1217.000,57.000,11330963809.000
11,Apple Valley,71159.000,185.000,3.000,0.000,12.000,58.000,112.000,1594.000,596.000,775.000,223.000,22.000,5063603281.000
12,Arcadia,57855.000,77.000,0.000,0.000,1.000,37.000,39.000,1518.000,376.000,1080.000,62.000,3.000,3347201025.000
13,Arcata,17805.000,67.000,3.000,0.000,7.000,15.000,42.000,841.000,147.000,634.000,60.000,14.000,317018025.000
14,Arroyo Grande,17634.000,31.000,0.000,0.000,5.000,4.000,22.000,455.000,137.000,288.000,30.000,0.000,310957956.000
15,Artesia,16734.000,63.000,2.000,0.000,0.000,28.000,33.000,323.000,91.000,177.000,55.000,1.000,280026756.000
16,Arvin,20390.000,153.000,2.000,0.000,1.000,16.000,134.000,744.000,323.000,308.000,113.000,15.000,415752100.000
17,Atascadero,28938.000,97.000,1.000,0.000,12.000,24.000,60.000,544.000,119.000,400.000,25.000,7.000,837407844.000
18,Atherton,7278.000,10.000,0.000,0.000,1.000,1.000,8.000,115.000,34.000,78.000,3.000,1.000,52969284.000
19,Atwater,28906.000,182.000,1.000,0.000,7.000,22.000,152.000,1323.000,361.000,804.000,158.000,5.000,835556836.000
20,Auburn,13779.000,49.000,0.000,0.000,2.000,13.000,34.000,302.000,86.000,190.000,26.000,7.000,189860841.000
21,Avalon,3777.000,4.000,0.000,0.000,0.000,2.000,2.000,88.000,13.000,57.000,18.000,1.000,14265729.000
22,Avenal,14712.000,62.000,0.000,0.000,4.000,6.000,52.000,147.000,63.000,67.000,17.000,2.000,216442944.000
23,Azusa,47754.000,246.000,2.000,0.000,4.000,36.000,204.000,1098.000,256.000,671.000,171.000,6.000,2280444516.000
24,Bakersfield,361859.000,1857.000,24.000,0.000,43.000,708.000,1082.000,16814.000,4605.000,9272.000,2937.000,193.000,130941935881.000
25,Baldwin Park,76745.000,220.000,5.000,0.000,6.000,74.000,135.000,1370.000,280.000,727.000,363.000,8.000,5889795025.000
26,Banning,30503.000,129.000,2.000,0.000,9.000,26.000,92.000,808.000,355.000,323.000,130.000,0.000,930433009.000
27,Barstow,23144.000,229.000,3.000,0.000,13.000,45.000,168.000,785.000,329.000,354.000,102.000,11.000,535644736.000
28,Bear Valley,5328.000,12.000,0.000,0.000,1.000,0.000,11.000,111.000,10.000,101.000,0.000,0.000,28387584.000
29,Beaumont,40208.000,85.000,1.000,0.000,8.000,20.000,56.000,1298.000,180.000,1015.000,103.000,6.000,1616683264.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,Vista,96712.000,445.000,1.000,0.000,28.000,140.000,276.000,2045.000,390.000,1326.000,329.000,6.000,9353210944.000
435,Walnut,30279.000,37.000,0.000,0.000,1.000,10.000,26.000,463.000,220.000,207.000,36.000,0.000,916817841.000
436,Walnut Creek,66149.000,78.000,0.000,0.000,4.000,31.000,43.000,2161.000,364.000,1634.000,163.000,1.000,4375690201.000
437,Waterford,8590.000,29.000,2.000,0.000,1.000,4.000,22.000,224.000,78.000,104.000,42.000,0.000,73788100.000
438,Watsonville,52076.000,237.000,3.000,0.000,20.000,71.000,143.000,1308.000,218.000,824.000,266.000,9.000,2711909776.000
439,Weed,2927.000,26.000,0.000,0.000,6.000,3.000,17.000,110.000,33.000,74.000,3.000,0.000,8567329.000
440,West Covina,107867.000,231.000,1.000,0.000,2.000,106.000,122.000,3370.000,615.000,2254.000,501.000,2.000,11635289689.000
441,West Hollywood,34902.000,216.000,0.000,0.000,14.000,68.000,134.000,1435.000,292.000,1044.000,99.000,2.000,1218149604.000
442,Westlake Village,8440.000,11.000,0.000,0.000,1.000,3.000,7.000,148.000,40.000,102.000,6.000,1.000,71233600.000
443,Westminster,91885.000,283.000,0.000,0.000,13.000,84.000,186.000,2476.000,420.000,1720.000,336.000,8.000,8442853225.000
444,Westmorland,2279.000,2.000,0.000,0.000,1.000,1.000,0.000,6.000,2.000,4.000,0.000,0.000,5193841.000
445,West Sacramento,49751.000,205.000,1.000,0.000,16.000,98.000,90.000,1483.000,380.000,894.000,209.000,9.000,2475162001.000
446,Wheatland,3522.000,0.000,0.000,0.000,0.000,0.000,0.000,49.000,16.000,28.000,5.000,0.000,12404484.000
447,Whittier,86450.000,223.000,3.000,0.000,17.000,73.000,130.000,2383.000,455.000,1675.000,253.000,4.000,7473602500.000
448,Wildomar,33453.000,40.000,0.000,0.000,2.000,11.000,27.000,536.000,166.000,287.000,83.000,1.000,1119103209.000
449,Williams,5176.000,5.000,0.000,0.000,0.000,3.000,2.000,67.000,24.000,35.000,8.000,1.000,26790976.000
450,Willits,4832.000,30.000,0.000,0.000,1.000,1.000,28.000,61.000,6.000,35.000,20.000,2.000,23348224.000
451,Willows,6122.000,17.000,0.000,0.000,2.000,3.000,12.000,179.000,54.000,116.000,9.000,0.000,37478884.000
452,Windsor,27249.000,105.000,0.000,0.000,9.000,8.000,88.000,269.000,52.000,209.000,8.000,4.000,742508001.000
453,Winters,6992.000,8.000,1.000,0.000,0.000,3.000,4.000,115.000,27.000,76.000,12.000,2.000,48888064.000
454,Woodlake,7417.000,10.000,1.000,0.000,1.000,1.000,7.000,134.000,39.000,79.000,16.000,0.000,55011889.000
455,Woodland,56523.000,272.000,1.000,0.000,16.000,48.000,207.000,1942.000,510.000,1238.000,194.000,34.000,3194849529.000
456,Yorba Linda,67492.000,30.000,0.000,0.000,5.000,6.000,19.000,700.000,172.000,482.000,46.000,1.000,4555170064.000
457,Yountville,2969.000,1.000,0.000,0.000,1.000,0.000,0.000,57.000,17.000,34.000,6.000,0.000,8814961.000
458,Yreka,7639.000,49.000,1.000,0.000,2.000,2.000,44.000,278.000,71.000,193.000,14.000,2.000,58354321.000
459,Yuba City,65133.000,174.000,2.000,0.000,15.000,39.000,118.000,1980.000,438.000,1210.000,332.000,16.000,4242307689.000
460,Yucaipa,52524.000,107.000,0.000,0.000,7.000,31.000,69.000,926.000,262.000,534.000,130.000,13.000,2758770576.000
461,Yucca Valley,21214.000,86.000,3.000,0.000,7.000,15.000,61.000,429.000,141.000,234.000,54.000,2.000,450033796.000
462,1 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
463,2 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [26]:
df.dtypes

City                  object
Population           float64
ViolentCrime         float64
Murder               float64
Rape1                float64
Rape2                float64
Robbery              float64
AggravatedAssault    float64
PropertyCrime        float64
Burglary             float64
LarcenyTheft         float64
MotorVehicleTheft    float64
Arson3               float64
Population2          float64
dtype: object

In [27]:
df['Rape1'].mean()

0.0

In [28]:
df.drop(['Rape1'],axis = 1,inplace = True)

In [29]:
df['TotalCrime'] = df['ViolentCrime'] + df['PropertyCrime']

In [30]:
df['TotalCrime'].mean()

2143.497844827586

In [31]:
df['LowCrime'] = np.where(df['TotalCrime'] < 1500, 1,0)

In [32]:
df['PopCrimeRatio'] = df['Population'] / df['TotalCrime']

In [33]:
df

,City,Population,ViolentCrime,Murder,Rape2,Robbery,AggravatedAssault,PropertyCrime,Burglary,LarcenyTheft,MotorVehicleTheft,Arson3,Population2,TotalCrime,LowCrime,PopCrimeRatio
0,Adelanto,31165.000,198.000,2.000,15.000,52.000,129.000,886.000,381.000,372.000,133.000,17.000,971257225.000,1084.000,1,28.750
1,Agoura Hills,20762.000,19.000,0.000,2.000,10.000,7.000,306.000,109.000,185.000,12.000,7.000,431060644.000,325.000,1,63.883
2,Alameda,76206.000,158.000,0.000,10.000,85.000,63.000,1902.000,287.000,1285.000,330.000,17.000,5807354436.000,2060.000,0,36.993
3,Albany,19104.000,29.000,0.000,1.000,24.000,4.000,557.000,94.000,388.000,75.000,7.000,364962816.000,586.000,1,32.601
4,Alhambra,84710.000,163.000,1.000,9.000,81.000,72.000,1774.000,344.000,1196.000,234.000,7.000,7175784100.000,1937.000,0,43.733
5,Aliso Viejo,50005.000,25.000,0.000,2.000,4.000,19.000,315.000,71.000,224.000,20.000,3.000,2500500025.000,340.000,1,147.074
6,Alturas,2681.000,28.000,1.000,4.000,2.000,21.000,71.000,23.000,46.000,2.000,0.000,7187761.000,99.000,1,27.081
7,American Canyon,20068.000,54.000,0.000,4.000,31.000,19.000,510.000,91.000,387.000,32.000,2.000,402724624.000,564.000,1,35.582
8,Anaheim,345320.000,1130.000,11.000,82.000,437.000,600.000,9611.000,1412.000,6518.000,1681.000,35.000,119245902400.000,10741.000,0,32.150
9,Anderson,10098.000,63.000,0.000,8.000,9.000,46.000,721.000,147.000,454.000,120.000,5.000,101969604.000,784.000,1,12.880
10,Antioch,106447.000,946.000,12.000,25.000,352.000,557.000,4440.000,1351.000,1872.000,1217.000,57.000,11330963809.000,5386.000,0,19.764
11,Apple Valley,71159.000,185.000,3.000,12.000,58.000,112.000,1594.000,596.000,775.000,223.000,22.000,5063603281.000,1779.000,0,39.999
12,Arcadia,57855.000,77.000,0.000,1.000,37.000,39.000,1518.000,376.000,1080.000,62.000,3.000,3347201025.000,1595.000,0,36.273
13,Arcata,17805.000,67.000,3.000,7.000,15.000,42.000,841.000,147.000,634.000,60.000,14.000,317018025.000,908.000,1,19.609
14,Arroyo Grande,17634.000,31.000,0.000,5.000,4.000,22.000,455.000,137.000,288.000,30.000,0.000,310957956.000,486.000,1,36.284
15,Artesia,16734.000,63.000,2.000,0.000,28.000,33.000,323.000,91.000,177.000,55.000,1.000,280026756.000,386.000,1,43.352
16,Arvin,20390.000,153.000,2.000,1.000,16.000,134.000,744.000,323.000,308.000,113.000,15.000,415752100.000,897.000,1,22.731
17,Atascadero,28938.000,97.000,1.000,12.000,24.000,60.000,544.000,119.000,400.000,25.000,7.000,837407844.000,641.000,1,45.145
18,Atherton,7278.000,10.000,0.000,1.000,1.000,8.000,115.000,34.000,78.000,3.000,1.000,52969284.000,125.000,1,58.224
19,Atwater,28906.000,182.000,1.000,7.000,22.000,152.000,1323.000,361.000,804.000,158.000,5.000,835556836.000,1505.000,0,19.207
20,Auburn,13779.000,49.000,0.000,2.000,13.000,34.000,302.000,86.000,190.000,26.000,7.000,189860841.000,351.000,1,39.256
21,Avalon,3777.000,4.000,0.000,0.000,2.000,2.000,88.000,13.000,57.000,18.000,1.000,14265729.000,92.000,1,41.054
22,Avenal,14712.000,62.000,0.000,4.000,6.000,52.000,147.000,63.000,67.000,17.000,2.000,216442944.000,209.000,1,70.392
23,Azusa,47754.000,246.000,2.000,4.000,36.000,204.000,1098.000,256.000,671.000,171.000,6.000,2280444516.000,1344.000,1,35.531
24,Bakersfield,361859.000,1857.000,24.000,43.000,708.000,1082.000,16814.000,4605.000,9272.000,2937.000,193.000,130941935881.000,18671.000,0,19.381
25,Baldwin Park,76745.000,220.000,5.000,6.000,74.000,135.000,1370.000,280.000,727.000,363.000,8.000,5889795025.000,1590.000,0,48.267
26,Banning,30503.000,129.000,2.000,9.000,26.000,92.000,808.000,355.000,323.000,130.000,0.000,930433009.000,937.000,1,32.554
27,Barstow,23144.000,229.000,3.000,13.000,45.000,168.000,785.000,329.000,354.000,102.000,11.000,535644736.000,1014.000,1,22.824
28,Bear Valley,5328.000,12.000,0.000,1.000,0.000,11.000,111.000,10.000,101.000,0.000,0.000,28387584.000,123.000,1,43.317
29,Beaumont,40208.000,85.000,1.000,8.000,20.000,56.000,1298.000,180.000,1015.000,103.000,6.000,1616683264.000,1383.000,1,29.073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,Vista,96712.000,445.000,1.000,28.000,140.000,276.000,2045.000,390.000,1326.000,329.000,6.000,9353210944.000,2490.000,0,38.840
435,Walnut,30279.000,37.000,0.000,1.000,10.000,26.000,463.000,220.000,207.000,36.000,0.000,916817841.000,500.000,1,60.558
436,Walnut Creek,66149.000,78.000,0.000,4.000,31.000,43.000,2161.000,364.000,1634.000,163.000,1.000,4375690201.000,2239.000,0,29.544
437,Waterford,8590.000,29.000,2.000,1.000,4.000,22.000,224.000,78.000,104.000,42.000,0.000,73788100.000,253.000,1,33.953
438,Watsonville,52076.000,237.000,3.000,20.000,71.000,143.000,1308.000,218.000,824.000,266.000,9.000,2711909776.000,1545.000,0,33.706
439,Weed,2927.000,26.000,0.000,6.000,3.000,17.000,110.000,33.000,74.000,3.000,0.000,8567329.000,136.000,1,21.522
440,West Covina,107867.000,231.000,1.000,2.000,106.000,122.000,3370.000,615.000,2254.000,501.000,2.000,11635289689.000,3601.000,0,29.955
441,West Hollywood,34902.000,216.000,0.000,14.000,68.000,134.000,1435.000,292.000,1044.000,99.000,2.000,1218149604.000,1651.000,0,21.140
442,Westlake Village,8440.000,11.000,0.000,1.000,3.000,7.000,148.000,40.000,102.000,6.000,1.000,71233600.000,159.000,1,53.082
443,Westminster,91885.000,283.000,0.000,13.000,84.000,186.000,2476.000,420.000,1720.000,336.000,8.000,8442853225.000,2759.000,0,33.304
444,Westmorland,2279.000,2.000,0.000,1.000,1.000,0.000,6.000,2.000,4.000,0.000,0.000,5193841.000,8.000,1,284.875
445,West Sacramento,49751.000,205.000,1.000,16.000,98.000,90.000,1483.000,380.000,894.000,209.000,9.000,2475162001.000,1688.000,0,29.473
446,Wheatland,3522.000,0.000,0.000,0.000,0.000,0.000,49.000,16.000,28.000,5.000,0.000,12404484.000,49.000,1,71.878
447,Whittier,86450.000,223.000,3.000,17.000,73.000,130.000,2383.000,455.000,1675.000,253.000,4.000,7473602500.000,2606.000,0,33.173
448,Wildomar,33453.000,40.000,0.000,2.000,11.000,27.000,536.000,166.000,287.000,83.000,1.000,1119103209.000,576.000,1,58.078
449,Williams,5176.000,5.000,0.000,0.000,3.000,2.000,67.000,24.000,35.000,8.000,1.000,26790976.000,72.000,1,71.889
450,Willits,4832.000,30.000,0.000,1.000,1.000,28.000,61.000,6.000,35.000,20.000,2.000,23348224.000,91.000,1,53.099
451,Willows,6122.000,17.000,0.000,2.000,3.000,12.000,179.000,54.000,116.000,9.000,0.000,37478884.000,196.000,1,31.235
452,Windsor,27249.000,105.000,0.000,9.000,8.000,88.000,269.000,52.000,209.000,8.000,4.000,742508001.000,374.000,1,72.858
453,Winters,6992.000,8.000,1.000,0.000,3.000,4.000,115.000,27.000,76.000,12.000,2.000,48888064.000,123.000,1,56.846
454,Woodlake,7417.000,10.000,1.000,1.000,1.000,7.000,134.000,39.000,79.000,16.000,0.000,55011889.000,144.000,1,51.507
455,Woodland,56523.000,272.000,1.000,16.000,48.000,207.000,1942.000,510.000,1238.000,194.000,34.000,3194849529.000,2214.000,0,25.530
456,Yorba Linda,67492.000,30.000,0.000,5.000,6.000,19.000,700.000,172.000,482.000,46.000,1.000,4555170064.000,730.000,1,92.455
457,Yountville,2969.000,1.000,0.000,1.000,0.000,0.000,57.000,17.000,34.000,6.000,0.000,8814961.000,58.000,1,51.190
458,Yreka,7639.000,49.000,1.000,2.000,2.000,44.000,278.000,71.000,193.000,14.000,2.000,58354321.000,327.000,1,23.361
459,Yuba City,65133.000,174.000,2.000,15.000,39.000,118.000,1980.000,438.000,1210.000,332.000,16.000,4242307689.000,2154.000,0,30.238
460,Yucaipa,52524.000,107.000,0.000,7.000,31.000,69.000,926.000,262.000,534.000,130.000,13.000,2758770576.000,1033.000,1,50.846
461,Yucca Valley,21214.000,86.000,3.000,7.000,15.000,61.000,429.000,141.000,234.000,54.000,2.000,450033796.000,515.000,1,41.192
462,1 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1,nan
463,2 The figures shown in this column for the off...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1,nan

In [34]:
df.drop([462,463],axis = 0, inplace= True)

In [35]:
keywords = ['Population', 'ViolentCrime', 'Murder', 'Rape2', 'Robbery',
       'AggravatedAssault', 'PropertyCrime', 'Burglary', 'LarcenyTheft',
       'MotorVehicleTheft', 'Arson3', 'Population2', 'TotalCrime','PopCrimeRatio']

In [36]:
# Declare a logistic regression classifier.
# Parameter regularization coefficient C described above.
lr = LogisticRegression(C=1e9)
y = df['LowCrime']
X = df[keywords]

In [37]:
# Fit the model.
fit = lr.fit(X, y)

# Display.
print('Coefficients')
print(fit.coef_)
print(fit.intercept_)
pred_y_sklearn = lr.predict(X)

print('\n Accuracy by LowCrime')
print(pd.crosstab(pred_y_sklearn, y))

print('\n Percentage accuracy')
print(lr.score(X, y))

Coefficients
[[ 2.58660697e-15 -1.03922254e-18 -5.02408090e-20  2.24036978e-19
  -2.55005469e-18  1.33703598e-18 -8.40989037e-18  3.86938545e-18
  -3.97144911e-18 -8.30782672e-18  6.15413669e-20 -1.82335599e-10
  -9.44911292e-18  1.67467836e-17]]
[2.87906446e-19]

 Accuracy by LowCrime
LowCrime    0    1
row_0
0         162  300

 Percentage accuracy
0.35064935064935066

### Ridge Regression

In [39]:
trainsize = int(df.shape[0] / 2)
df_test = df.iloc[trainsize:, :].copy()
df_train = df.iloc[:trainsize, :].copy()

In [40]:
Y_train = df_train['LowCrime']
X_train = df_train[keywords]

In [41]:
df_train['Violent_Property'] = df_train['ViolentCrime'] * df_train['PropertyCrime']
df_train['Violent_Population'] = df_train['ViolentCrime'] * df_train['Population']
df_train['Property_Population'] = df_train['Population'] * df_train['PropertyCrime']
df_train['Population_sqrt'] = (df_train['Population']) ** .5
df_train['Population3'] = (df_train['Population']) ** 3

In [43]:
keywords2 = ['Population', 'ViolentCrime', 'Murder', 'Rape2', 'Robbery',
       'AggravatedAssault', 'PropertyCrime', 'Burglary', 'LarcenyTheft',
       'MotorVehicleTheft', 'Arson3', 'Population2', 'TotalCrime',
       'PopCrimeRatio', 'Violent_Property', 'Violent_Population',
       'Property_Population', 'Population_sqrt', 'Population3']

In [45]:
X_train2 = df_train[keywords2]

In [53]:
# Fitting a ridge regression model. Alpha is the regularization
# parameter (usually called lambda). As alpha gets larger, parameter
# shrinkage grows more pronounced. Note that by convention, the
# intercept is not regularized. Since we standardized the data
# earlier, the intercept should be equal to zero and can be dropped.

ridgeregr = LogisticRegression(penalty = 'l2')
ridgeregr.fit(X_train, Y_train)
print(ridgeregr.score(X_train, Y_train))
origparams = ridgeregr.coef_[0]
print(origparams)

ridgeregrBig = LogisticRegression(penalty = 'l2')
ridgeregrBig.fit(X_train2, Y_train)
print(ridgeregrBig.score(X_train2, Y_train))
newparams = ridgeregrBig.coef_[0,0:len(origparams)]
print(newparams)

print('\nParameter Estimates for the same predictors for the small model and large model:')
compare = np.column_stack((origparams, newparams))
prettycompare = np.array2string(
    compare,
    formatter={'float_kind':'{0:.3f}'.format})
print(compare)

0.30303030303030304
[ 4.21034891e-15  3.27789253e-18 -1.76043211e-20  5.87256204e-19
 -2.25479835e-18  4.96303899e-18  2.26780408e-17  1.28869248e-17
  1.71604647e-17 -7.36934869e-18  4.67345755e-19 -1.59028623e-10
  2.59559333e-17  2.21765355e-17]
0.30303030303030304
[ 9.31818299e-25  1.30996343e-27  5.28063651e-30  1.40468224e-28
 -1.13888590e-28  1.27810316e-27  9.08116740e-27  3.31491986e-27
  6.13562799e-27 -3.69380441e-28  1.10544465e-28  6.30585259e-22
  1.03911308e-26  3.94624022e-27]

Parameter Estimates for the same predictors for the small model and large model:
[[ 4.21034891e-15  9.31818299e-25]
 [ 3.27789253e-18  1.30996343e-27]
 [-1.76043211e-20  5.28063651e-30]
 [ 5.87256204e-19  1.40468224e-28]
 [-2.25479835e-18 -1.13888590e-28]
 [ 4.96303899e-18  1.27810316e-27]
 [ 2.26780408e-17  9.08116740e-27]
 [ 1.28869248e-17  3.31491986e-27]
 [ 1.71604647e-17  6.13562799e-27]
 [-7.36934869e-18 -3.69380441e-28]
 [ 4.67345755e-19  1.10544465e-28]
 [-1.59028623e-10  6.30585259e-22]
 [ 2.59559333e-17  1.03911308e-26]
 [ 2.21765355e-17  3.94624022e-27]]

In [54]:
# Test the simpler model with smaller coefficients.
Y_test = df_test['LowCrime']
X_test = df_test[keywords]
print('\nR-squared simple model:')
print(ridgeregr.score(X_test, Y_test))

# Test the more complex model with larger coefficients.
df_test['Violent_Property'] = df_test['ViolentCrime'] * df_test['PropertyCrime']
df_test['Violent_Population'] = df_test['ViolentCrime'] * df_test['Population']
df_test['Property_Population'] = df_test['Population'] * df_test['PropertyCrime']
df_test['Population_sqrt'] = (df_test['Population']) ** .5
df_test['Population3'] = (df_test['Population']) ** 3

# Re-run the model with the new features.
X_test2 = df_test[keywords2]
print('\nR-squared complex model:')
print(ridgeregrBig.score(X_test2, Y_test))

R-squared simple model:
0.39826839826839827

R-squared complex model:
0.39826839826839827

### Lasso Regression

In [56]:
# Fitting a ridge regression model. Alpha is the regularization
# parameter (usually called lambda). As alpha gets larger, parameter
# shrinkage grows more pronounced. Note that by convention, the
# intercept is not regularized. Since we standardized the data
# earlier, the intercept should be equal to zero and can be dropped.

lassoregr = LogisticRegression(penalty = 'l1')
lassoregr.fit(X_train, Y_train)
print(lassoregr.score(X_train, Y_train))
origparams = lassoregr.coef_[0]
print(origparams)

lassoregrBig = LogisticRegression(penalty = 'l1')
lassoregrBig.fit(X_train2, Y_train)
print(lassoregrBig.score(X_train2, Y_train))
newparams = lassoregrBig.coef_[0,0:len(origparams)]
print(newparams)

print('\nParameter Estimates for the same predictors for the small model and large model:')
compare = np.column_stack((origparams, newparams))
prettycompare = np.array2string(
    compare,
    formatter={'float_kind':'{0:.3f}'.format})
print(compare)

0.9913419913419913
[-8.48482179e-05 -2.08597199e-03  0.00000000e+00 -3.02557170e-02
 -3.13210849e-03  7.21715466e-03 -8.06790469e-04 -8.23004201e-03
 -9.68127003e-04  2.34301153e-04  6.29757057e-02 -2.09350069e-09
 -5.25177402e-04  4.07255400e-01]
1.0
[-2.22510220e-06  1.71991698e-02  0.00000000e+00  9.56473902e-03
  4.55867573e-02  3.51382461e-02 -8.21973088e-04 -7.15362020e-03
 -1.05350492e-03  4.65088939e-03  1.68422914e-01 -7.62313567e-11
  4.04900521e-04  3.08408039e-01]

Parameter Estimates for the same predictors for the small model and large model:
[[-8.48482179e-05 -2.22510220e-06]
 [-2.08597199e-03  1.71991698e-02]
 [ 0.00000000e+00  0.00000000e+00]
 [-3.02557170e-02  9.56473902e-03]
 [-3.13210849e-03  4.55867573e-02]
 [ 7.21715466e-03  3.51382461e-02]
 [-8.06790469e-04 -8.21973088e-04]
 [-8.23004201e-03 -7.15362020e-03]
 [-9.68127003e-04 -1.05350492e-03]
 [ 2.34301153e-04  4.65088939e-03]
 [ 6.29757057e-02  1.68422914e-01]
 [-2.09350069e-09 -7.62313567e-11]
 [-5.25177402e-04  4.04900521e-04]
 [ 4.07255400e-01  3.08408039e-01]]

In [57]:
# Test the simpler model with smaller coefficients.
print('\nR-squared simple model:')
print(lassoregr.score(X_test, Y_test))

# Re-run the model with the new features.
print('\nR-squared complex model:')
print(lassoregrBig.score(X_test2, Y_test))

R-squared simple model:
0.9913419913419913

R-squared complex model:
0.9913419913419913